<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="addAuthorCtrl">
    <div class="panel b-a">

        <div class="panel-heading b-b b-light">用户管理</div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-user">添加一位</button>
            <button type="button" class="btn btn-info" style="float: right;margin-left: 5px;" ng-click="getAllUser()">查看所有</button>
            <div class="form-group" style="float: right;margin-left: 5px;width:200px;">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid" placeholder="输入用户昵称或者用户名" ng-model="searchData.key">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded" ng-click="searchBtn()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                已有用户
            </div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:600px;max-height: 1000px"></div>
            </div>
        </div>
    </div>


    <div class="modal fade bs-example-modal-sm editUserInfo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  用户名：{{ editUser.username }}</h4>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;昵 &nbsp;&nbsp;称：</h4>
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="editUser.nickname"  >
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="col-md-12 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;身 &nbsp;&nbsp;份：</h4>
                            <div class="form-group col-md-5">
                                <select class="form-control" ng-model="editUser.typeNum" >
                                    <option selected="selected" value="{{editUser.typeNum}}">{{editUser.type}}</option>
                                    <option value="1">美甲店主</option>
                                    <option value="2">美甲师</option>
                                    <option value="3">美甲从业者</option>
                                    <option value="4">美甲消费者</option>
                                    <option value="5">美甲老师</option>
                                    <option value="6">其他</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;经 &nbsp;&nbsp;验：</h4>
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="editUser.exp"  >
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;咖 &nbsp;&nbsp;币：</h4>
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="editUser.coin"  >
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="commitEditUser()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm reset-password" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">重置密码</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  用户名：{{ resetUser.username }}</h4>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;昵 &nbsp;&nbsp;称：{{ resetUser.nickname }}</h4>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  新密码：</h4>
                            <div class="col-md-6">
                                <input class="form-control" type="password" ng-model="newPassowrd"  >
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="resetPassword()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm add-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加用户</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  手机号：</h4>
                            <div class="col-md-6">
                                <input class="form-control" maxlength="11" type="tel" placeholder="必填" ng-model="mobilePhone"  >
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="col-md-12 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;身 &nbsp;&nbsp;份：</h4>
                            <div class="form-group col-md-5">
                                <select class="form-control" ng-model="selectedJob" required>
                                    <option value="1">美甲店主</option>
                                    <option value="2">美甲师</option>
                                    <option value="3">美甲从业者</option>
                                    <option value="4">美甲消费者</option>
                                    <option value="5">美甲老师</option>
                                    <option value="6">其他</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;昵 &nbsp;&nbsp;称：</h4>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="默认”手机用户“+”手机号后四位“" ng-model="newNickname"  >
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;密 &nbsp;&nbsp;码：</h4>
                            <div class="col-md-6">
                                <input class="form-control" type="password" placeholder="默认六个0"  ng-model="password">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="commitAddUser()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm delete-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{deleteTips}}</h4>
                </div>
                <div class="modal-body">
                     <fieldset ng-show=" !deleteUserData.black_id">
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left; color: #f45d49">该项操作会删除该用户的所有评论！</h4>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  用户名：{{ deleteUserData.username }}</h4>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;昵 &nbsp;&nbsp;称：{{ deleteUserData.nickname }}</h4>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;性 &nbsp;&nbsp;别：{{ deleteUserData.gender>=1?(deleteUserData.gender==1?"女":"男"):"未填写" }}</h4>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;身 &nbsp;&nbsp;份：{{ deleteUserData.type }}</h4>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;生 &nbsp;&nbsp;日：{{ deleteUserData.birthday |date:"yyyy-MM-dd hh:mm" }}</h4>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-10 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;地 &nbsp;&nbsp;区：{{ deleteUserData.location }}</h4>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteUserOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

</div>