<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="userMessage">

    <div class="panel b-a">
        <div class="panel-heading b-b b-light">
            <span class="label label-default">消息推送</span>
            <span class="label label-info"></span>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-message" ng-click="openAddMessage()">添加全局消息</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-user" ng-click="addUserMessage()">添加单点消息</button>
        </div>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                消息列表
            </div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:510px"></div>
            </div>
        </div>
    </div>

    <div class="modal fade check-message" arid-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">查看信息</h4>
                </div>
                <div class="modal-body center-block">
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">标题:</h4>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" disabled ng-model="message.title"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">内容:</h4>
                            <div class="form-group col-md-6">
                                <textarea class="form-control" rows="10" disabled ng-model="message.content"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-2">
                            <h4 style="float:left">发布时间：</h4>
                            <div class="input-group date form_datetime1 col-md-6" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" readonly ng-model="message.publish_date_format">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade delete-message" arid-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除信息</h4>
                </div>
                <div class="modal-body center-block">
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">标题:</h4>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" disabled ng-model="message.title"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">内容:</h4>
                            <div class="form-group col-md-6">
                                <textarea class="form-control" rows="10" disabled ng-model="message.content"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-2">
                            <h4 style="float:left">发布时间：</h4>
                            <div class="input-group date form_datetime1 col-md-6" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" readonly ng-model="message.publish_date_format">
                            </div>
                            <input type="hidden"  value="" /><br/>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteMessage()">确认</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade add-message" arid-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加信息</h4>
                </div>
                <div class="modal-body center-block">
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">标题:</h4>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" ng-model="formData.title"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">内容:</h4>
                            <div class="form-group col-md-6">
                                <textarea class="form-control" rows="10" ng-model="formData.content"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-2">
                            <h4 style="float:left">发布时间：</h4>
                            <div class="input-group date form_datetime col-md-6" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" ng-model="formData.publish_date_format">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <input type="hidden"  value="" /><br/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">主题:</h4>
                            <div class="form-group col-md-6">
                                <select class="form-control" ng-model="formData.topicId" required>
                                    <option ng-repeat="topic in topics" value="{{topic.id}}">{{topic.title}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="addMessage()">确认</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade add-user" arid-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加信息</h4>
                </div>
                <div class="modal-body center-block">
                    <fieldset>
                        <div class="form-group col-md-12">
                            <h4>手机号:</h4>
                            <div class="form-group col-md-12">
                                 <textarea class="form-control" placeholder="手机号之间使用英文逗号分隔！" rows="5" ng-model="pushuser.targets" onkeyup="this.value=this.value.replace(/[^0-9\,]/g , '')"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12">
                            <h4>内容:</h4>
                            <div class="form-group col-md-12">
                                <textarea class="form-control" placeholder="内容" rows="5" ng-model="pushuser.content"/>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="addUserMessageOk()">确认</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        format: 'yyyy年mm月dd日 hh:ii:ss',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        startDate: new Date()
    });
</script>
