<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="user_infor">

     <div class="panel b-a">
        <div class="panel-heading b-b b-light">{{userData.show.type}}————{{userData.show.nickname}}的主页</div>
        <div class="panel-body clearfix">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".addData" ng-click="backUserList()">返回用户列表</button>
        </div>
    </div>
	<div class="tab-container ng-isolate-scope">
		<ul class="nav nav-tabs nav-justified">
			<li ng-class="{active:userData.show.tab==1}" class="ng-isolate-scope">
				<a ng-click="selectTab(1)" class="ng-binding">帖子</a>
			</li>
			<li ng-class="{active:userData.show.tab==2}" class="ng-isolate-scope">
				<a ng-click="selectTab(2)" class="ng-binding">交作业</a>
			</li>
			<li ng-show="userData.show.show" ng-class="{active:userData.show.tab==3}" class="ng-isolate-scope">
				<a ng-click="selectTab(3)" class="ng-binding">作品</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:600px;max-height: 1000px"></div>
            </div>
		</div>
	</div>

    <!-- 查看帖子图片模态框 -->
    <div class="modal fade showpostImg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">查看图片——{{modalData.show.title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="wrapper-md ng-scope">
                        <div class="row">
                            <div class="col-lg-3" ng-repeat="img in userData.show.postimgs">
                                <div class="panel panel-default">
                                    <div class="panel-body"><img class="img-full" src="{{img.pic_url}}" alt=""></div>
                                    <p class="text-center"><label class="label bg-danger m-l-xs">{{img.serial_number +1}}</label></p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

	<!-- 查看交作业图片模态框 -->
	 <div class="modal fade showworkImg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">查看图片</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body"><img class="img-full" src="{{userData.show.pic_url}}" alt=""></div>
                    </div>
                 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

</div>