<style type="text/css">

    body{
        background: url('/cms_video/images/login_bg.jpg');
            /*Mozilla*/
        -moz-background-size: cover;
            /*Webkit*/
        -webkit-background-size: cover;
            /*Oprea*/
        -o-background-size: cover;
            /*W3c标准*/
        background-size: cover
    }
    .login-panel {
        width: 330px;
        height: 240px;
        border-radius: 10px;
        box-shadow: #666666 0px 0px 2px;
        -moz-box-shadow: #666666 0px 0px 2px;
        -webkit-box-shadow:#666666 0px 0px 2px;
        background: #ffffff;
    }
    .login-panel-heading {
        color: #ece7f6;
        background-color: #ece7f6;
        height: 56px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .login-panel-title {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 20px;
        color: #9a98a9;
        background-color:#ece7f6 ;
        text-align: center;
    }

    .login-panel-body {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 30px;
        height: 200px;
    }
    .login-container {padding-right: 0;padding-left: 0;margin:auto}

    .login-btn {
        font-weight: 500;
        height: 40px;
        width: 270px;
        border-radius: 25px;
        color: #ffffff;
        background:#9684ca;
        -webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.6);
        -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.6);
        box-shadow:0px 1px 1px rgba(0,0,0,0.6);
        margin-left: 15px;
        margin-right: 15px;
        font-size: 20px;
    }

    .login-btn.disabled, .login-btn[disabled], fieldset[disabled] .login-btn {
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.6);
        -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.6);
        box-shadow:0px 1px 1px rgba(0,0,0,0.6);
        opacity: 1;
    }

    .login-btn:hover, .login-btn:focus {
        color: #ffffff;
        text-decoration: none;
        background: #9684ca;
    }

    .login-btn:active{
        position:relative;
        background:#9684ca;
        -webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.6) inset;
        -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.6) inset;
        box-shadow:0px 1px 1px rgba(0,0,0,0.6) inset;
    }

    .login-btn-content:hover{
        color: #ffffff !important;
        color: #ffffff;
        background-color: #8373b5;
    }

    .text-color{
        color: #f06276;
        margin-right: 15px;
        margin-left: 15px;
    }

    .underline{
        border-bottom: 1px solid #bcbacf;
        color: #000000;
        padding-left: 0px;
        padding-left: 28px;
    }

    .instance{
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .login-background-context{
        margin-right: auto;
        margin-left: auto;
    }

    .login-background-image{
        margin-bottom: 20px;
        margin-top: 80px;
    }
    .login-background-image img{
        width: 300px;
    }

    .username_img{
        background: url("/cms_video/images/username.png")  no-repeat 0 center;
    }

    .pwd_img{
        background: url("/cms_video/images/pwd.png")  no-repeat 0 center;
    }

    .login-form-underline-color:focus {
        border-color: #72659d;
    }

    .login-form-underline-color.ng-dirty.ng-invalid {
        border-color: #bcbacf !important;
    }

    .login-form-underline-color .ng-dirty.ng-valid, .login-form-underline-color .ng-dirty.ng-valid:focus {
        border-color: #72659d;
    }

    .form-login{
        width: 270px;
        height: 34px;
    }

</style>
<div class="text-center login-background-image">
    <img class="login-background-context" src="/cms_video/images/logo.png">
</div>
<div class="panel text-center login-container no-border login-panel" ng-controller="LoginCtrl" ng-init="app.settings.container = false;">
    <form name="form" class="form-validation">
        <div class="panel-heading login-panel-heading">
            <h3 class="panel-title login-panel-title">美甲大咖后台管理系统</h3>
        </div>
        <div class="panel-body login-panel-body no-border">
            <div class="list-group-item no-border instance">
                <input type="text" placeholder="用户名" class="form-login no-border underline username_img login-form-underline-color" ng-model="user.username" required>
            </div>
            <div class="list-group-item no-border instance">
                <input type="password" placeholder="密码" class="form-login no-border underline pwd_img login-form-underline-color" ng-model="user.password" required>
            </div>
            <div class="text-right">
                <h6 class="text-color">
                    &nbsp;
                    <span ng-show="authError">用户名或密码错误</span>
                </h6>
            </div>
            <button type="submit" class="btn btn-content login-btn login-btn-content" ng-click="login()" ng-disabled='form.$invalid'>登录</button>
        </div>
    </form>
</div>
