<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="autoReplyCtrl">
<div class="panel b-a">

    <div class="panel-heading b-b b-light">微信自动回复</div>
    <div class="panel-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-reply">添加一条</button>
    </div>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            已有回复
        </div>
        <div class="table-responsive">
            <div ng-grid="gridOptions" style="min-height:600px;max-height: 1000px"></div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-sm edit-reply" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑自动回复</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group col-md-10 col-md-offset-2">
                        <h4 style="float:left">  关键词：</h4>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="editReplyData.keyword"  >
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group col-md-10 col-md-offset-2">
                        <h4 style="float:left">  &nbsp;&nbsp;内 &nbsp;&nbsp;容：</h4>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="editReplyData.content"  >
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group col-md-10 col-md-offset-2">
                        <h4 style="float:left">  &nbsp;&nbsp;链 &nbsp;&nbsp;接：</h4>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="editReplyData.content_url"  >
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="commitEditReply()">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-sm add-reply" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加自动回复</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group col-md-10 col-md-offset-2">
                        <h4 style="float:left">  关键词：</h4>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="必填" ng-model="keyword"  >
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group col-md-10 col-md-offset-2">
                        <h4 style="float:left">  &nbsp;&nbsp;内 &nbsp;&nbsp;容：</h4>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="必填" ng-model="content"  >
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group col-md-10 col-md-offset-2">
                        <h4 style="float:left">  &nbsp;&nbsp;链 &nbsp;&nbsp;接：</h4>
                        <div class="col-md-8">
                            <input class="form-control" type="text"  ng-model="content_url">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="commitAddReply()">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm delete-reply" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">确认删除</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group col-md-10 col-md-offset-2">
                        <h4 style="float:left">  关键词：{{ deleteReplyData.keyword }}</h4>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group col-md-10 col-md-offset-2">
                        <h4 style="float:left">  &nbsp;&nbsp;内 &nbsp;&nbsp;容：{{ deleteReplyData.content }}</h4>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group col-md-10 col-md-offset-2">
                        <h4 style="float:left">  &nbsp;&nbsp;链 &nbsp;&nbsp;接：{{ deleteReplyData.content_url }}</h4>
                    </div>
                </fieldset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="deleteUser()">确定</button>
            </div>
        </div>
    </div>
</div>

</div>