<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="deleteTopicData">

    <div class="panel b-a">
        <div class="panel-heading b-b b-light">删除主题</div>
        <div class="panel-body clearfix">
            <button type="button" class="btn btn-info" style="float: left;margin-left: 5px;" ng-click="getAllData()">查看所有</button>
             <button type="button" class="btn btn-danger" style="float: left;margin-left: 5px;" ng-click="getnopushData()">查看下架主题</button>
            <div class="form-group" style="float: right;margin-left: 5px;width:250px;">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid" placeholder="输入主题名称" ng-model="topicData.key">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded" ng-click="searchBtn()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
	<div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading"主题列表</div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:600px;max-height: 1000px"></div>
            </div>
        </div>
    </div>

    <!-- 删除主题 -->
    <div class="modal fade deletData" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除主题</h4>
                </div>
                <div class="modal-body">
                    <h4>确认删除——{{modalData.delete.title}}？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteOkBtn()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 上架或者下架主题 -->
    <div class="modal fade publishData" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 ng-show="topicData.publish.is_publish != 1" class="modal-title">下架主题</h4>
                    <h4 ng-show="topicData.publish.is_publish == 1" class="modal-title">取消下架</h4>
                </div>
                <div class="modal-body">
                    <h4>{{topicData.publish.tips}}？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="publishOkBtn()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>