<div class="hbox hbox-auto-xs hbox-auto-sm bg-light" ng-controller="IndexSettingCtrl">
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center;">
                <span class="h-3 lh-3">轮播图设置</span>
                <div class="clearfix"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th style="text-align: center;">轮播序号</th>
                            <th style="text-align: center;">海报图片</th>
                            <th style="text-align: center;">名称</th>
                            <th style="text-align: center;">创建时间</th>
                            <th style="text-align: center;">状态</th>
                            <th style="text-align: center;">操作</th>
                        </tr>
                    </thead>
                    <tbody id="video_list_table">
                        <tr ng-repeat="poster in viewData.posters">
                            <td style="text-align: center;">
                                 <a href="">{{poster.serial_number}}</a>
                            </td>
                            <td style="text-align: center;">
                                 <img src="{{poster.pic_url}}" style="height:100px;">
                            </td>
                            <td style="text-align: center;">{{poster.title}}</td>
                            <td style="text-align: center;">{{poster.create_date |date}}</td>
                            <td style="text-align: center;">{{poster.active?'激活':'失效'}}</td>
                            <td style="text-align: center;">
                                <ul>
                                    <li class="btn btn-danger m-b-xs w-xs" data-toggle="modal" data-target=".delete-poster" ng-click="deletePosterData(poster)">删除</li>
                                    <li class="btn btn-info m-b-xs w-xs" data-toggle="modal" data-target=".edit-poster" ng-click="editPosterData(poster)">编辑</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: center;margin:20px auto;" >
                <button class="btn btn-primary" data-toggle="modal" data-target="#posterModal" ng-click="addPosterBtn()">创建海报</button>
            </div>
        </div>
    </div>
   
    <!-- ========================创建海报弹窗===================================== -->
    <div class="modal fade" id="posterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">创建海报</h4>
                </div>
                <div class="modal-body">
                    <div class="hbox hbox-auto-xs hbox-auto-sm bg-light">
                        <div class="panel panel-default">
                            <div class="panel-heading font-bold">上传图片</div>
                            <div class="panel-body">
                                <form class="form-validation form-horizontal" id="newVideoForm" name="newVideoForm" role="form" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">轮播序号</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" placeholder="轮播序号" ng-model="viewData.posterFormData.serial_number" required>
                                        </div>
                                    </div>
                                    <div class="wrapper-md ng-scope" ng-show="viewData.posterFormData.pic_url">
                                        <div class="row" id="editpostimg">
                                            <div class="col-sm-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-body"><img class="img-full" src="{{viewData.posterFormData.pic_url}}" alt=""></div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">图片文件</label>
                                        <div class="col-sm-8">
                                            <div id="poster_pic_fileupload">
                                                <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                                <div class="row fileupload-buttonbar">
                                                    <div class="col-lg-7">
                                                        <span class="btn btn-default fileinput-button"><i class="glyphicon glyphicon-plus"></i><span>选择图片文件</span><input type="file" name="files[]" multiple></span>
                                                    </div>
                                                </div>
                                                <table role="presentation" class="table table-striped">
                                                    <tbody class="files"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"></div>
                                    <div class="has-error text-right" ng-if="viewMsg.errorMsg">
                                        <label class="control-label">{{viewMsg.errorMsg}}</label>
                                    </div>
                                    <div class="has-success text-right" ng-if="viewMsg.successMsg">
                                        <label class="control-label">{{viewMsg.successMsg}}</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- ================= -->
                    <div class="panel panel-default">
                        <div class="panel-heading">选择轮播海报所属的主题</div>
                        <div class="row wrapper">
                            <!-- Single button -->
                            <div class="col-sm-8">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        {{selectedChannel.categoryName}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="channel in viewData.channels" ng-click="selectPosterChannel(channel)">
                                            <a class="list-group-item  b-l-3x hover-anchor" ng-class="{'hover': channel.categoryId==viewData.selectedChannelId }">
                                                <span class="block text-ellipsis">{{ channel.categoryName ? channel.categoryName : '无效名称' }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div ng-grid="postergridOptions" style="height:310px;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="addPoster()">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 轮播图删除确定框 -->
    <div class="modal fade bs-example-modal-lg delete-poster" id="delete-poster" role="dialog" aria-hidden="false">
        <div class="modal-dialog" style="margin-top: 200px;">
            <div class="modal-content">
                <div class="panel panel-default" style="margin-bottom:0px;border:none;">
                    <div class="panel-heading">删除海报</div>
                    <div class="row wrapper">
                        <div class="form-group">
                            <div id="deletePoster" data-posterId=""></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border:none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" ng-click="deletePoster()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ========================编辑海报弹窗===================================== -->
    <div class="modal fade edit-poster" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑海报</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <form class="form-validation form-horizontal" id="newVideoForm" name="newVideoForm" role="form" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">轮播序号</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="轮播序号" ng-model="viewData.editPoster.serial_number" required>
                                </div>
                            </div>
                            <div class="wrapper-md ng-scope" ng-show="viewData.editPoster.pic_url">
                                <div class="row" id="editpostimg">
                                    <div class="col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-body"><img class="img-full" src="{{viewData.editPoster.pic_url}}" alt=""></div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">图片文件</label>
                                <div class="col-sm-8">
                                    <div id="poster_edit_fileupload">
                                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                        <div class="row fileupload-buttonbar">
                                            <div class="col-lg-7">
                                                <span class="btn btn-default fileinput-button"><i class="glyphicon glyphicon-plus"></i><span>选择图片文件</span><input type="file" name="files[]" multiple></span>
                                            </div>
                                        </div>
                                        <table role="presentation" class="table table-striped">
                                            <tbody class="files"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="has-error text-right" ng-if="viewMsg.errorMsg">
                                <label class="control-label">{{viewMsg.errorMsg}}</label>
                            </div>
                            <div class="has-success text-right" ng-if="viewMsg.successMsg">
                                <label class="control-label">{{viewMsg.successMsg}}</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="editPoster()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-upload fade">
                <td>
                    <div>
                        <ul>
                            <li><span class="preview"></span></li>
                            <li><p class="name">{%=file.name%}</p><strong class="error text-danger"></strong></li>
                            <li> 
                                <p class="size">Processing...</p>
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                {% if (!i && !o.options.autoUpload) { %}
                                    <button class="btn btn-primary start" disabled ng-click=initPoster_pic_fileupload()>
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>上传</span>
                                    </button>
                                {% } %}
                                {% if (!i) { %}
                                    <button class="btn btn-default cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>取消上传</span>
                                    </button>
                                {% } %}
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-download fade uplpadimg">
                <td>
                    <span class="preview">
                        {% if (file.thumbnailUrl) { %}
                            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                        {% } %}
                    </span>
                </td>
                <td>
                    <p class="name">
                        {% if (file.url) { %}
                            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                                {% } else { %}
                                    <span>{%=file.name%}</span>
                                {% } %}
                    </p>
                    {% if (file.error) { %}
                        <div><span class="label label-danger">上传失败</span> {%=file.error%}</div>
                    {% } %}
                </td>
                <td>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </td>
                <td>
                    {% if (file.deleteUrl) { %}
                        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>删除</span>
                        </button>
                        <input type="checkbox" name="delete" value="1" class="toggle">
                        {% } else { %}
                            <button class="btn btn-default cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>删除</span>
                            </button>
                        {% } %}
                </td>
            </tr>
        {% } %}
</script>