<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="replyDetail">

    <div class="panel-heading">
        <span class="h-3 lh-3">回复详情</span>
        <button class="btn btn-primary pull-right">
            <a ng-click="goBackCommentDetail()">
                返回上级
            </a>
        </button>
        <div class="clearfix"></div>
    </div>

    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                回复列表
            </div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:580px"></div>
            </div>
        </div>
    </div>

    <div class="modal fade delete-reply" arid-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除回复</h4>
                </div>
                <div class="modal-body center-block">
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-1">
                            <h4 class="col-md-3" style="float:left">用户名:</h4>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" disabled ng-model="reply.username"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-1">
                            <h4 class="col-md-3" style="float:left">昵称:</h4>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" disabled ng-model="reply.nickname"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-1">
                            <h4 class="col-md-3" style="float:left">评论内容:</h4>
                            <div class="form-group col-md-6">
                                <textarea class="form-control" rows="10" disabled ng-model="reply.content"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-1">
                            <h4 class="col-md-3" style="float:left">发表时间：</h4>
                            <div class="input-group date form_datetime1 col-md-6" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" readonly ng-model="reply.createDate_format">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteReply()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>

