<div class="hbox hbox-auto-xs hbox-auto-sm bg-light" ng-init="app.settings.asideFixed = true;app.settings.asideDock = false;app.settings.container = false;app.hideAside = false;app.hideFooter = true" ng-controller="TopicListCtrl">
    <!--系列列表-->
    <div class="col w-lg lt b-r">
        <div class="vbox">
            <div class="wrapper">
                <div class="h4">系列分类</div>
            </div>
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="padder">
                            <div class="list-group">
                                <a ng-repeat="cate in cates " class="list-group-item b-l-{{cate.color}} b-l-3x hover-anchor" ng-class="{'hover': cate.selected }" ng-click="selectCate(cate)">
                                    <span data-toggle="modal" data-target=".delete-category" ng-click='deleteIndexChannelData(cate)'  class="pull-right text-muted hover-action">
                                        <i class="fa fa-times"></i>
                                    </span>
                                    <span  class="pull-right text-muted hover-action" data-toggle="modal" data-target="#editCategory" style="margin-right: 10px;">
                                        <i class="fa fa-pencil" ng-click="initEditChannel(cate)"></i>
                                    </span>
                                    <span class="block text-ellipsis">{{ cate.categoryName? cate.categoryName : 'Empty note' }}</span>
                                </a>
                            </div>
                        </div>
                        <div style="text-align: center;margin:20px auto;">
                            <a href class="btn btn-sm btn-info m-t-n-xs" style="display:block;margin:10px auto;" data-toggle="modal" data-target="#creatCategory" ng-click="addCate()">新增系列</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--新建主题区-->
    <div class="panel b-a">
        <div class="panel-heading b-b b-light">操作</div>
        <div class="panel-body">
            <button type="button" ng-click="showAddDialog('topic')" class="btn btn-primary" data-toggle="modal" data-target=".add-topic" ng-show="selectedCate.categoryType !='activity'">添加主题</button>
            <button type="button" ng-click="showAddDialog('activity')" class="btn btn-primary" data-toggle="modal" data-target=".add-activity" ng-show="selectedCate.categoryType =='activity'">添加活动</button>
        </div>
    </div>

    <!--主题列表区-->
    <div class="wrapper-md" >
        <div class="panel panel-default">
            <div class="panel-heading">
                已有主题
            </div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:590px"></div>
            </div>
        </div>
    </div>

    <!--新增活动模态框-->
    <div class="modal fade bs-example-modal-lg add-activity"  id="add-activity"  >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">新增活动</h3>
                </div>
                <div class="modal-body wrapper-md">
                    <div class="wrapper-md">
                        <div class="panel-body">
                            <div class="form-group col-sm-12" style="padding-left:0px;">
                                <label>活动名称:</label>
                                <input type="text" ng-model="formData.title" class="form-control">
                            </div>
                            <div class="form-group col-sm-12" style="padding-left:0px;">
                                <label>活动链接:</label>
                                <input type="text" ng-model="formData.activity_url" class="form-control">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">视频封面1(1：1的图片)：</label>
                                <div style="width:100px;"><img style="width: 100%;" src="{{formData.thumb_pic_url}}" ></div>
                                <div>
                                    <div class="topic_Thumb_pic_fileupload">
                                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                        <div class="row fileupload-buttonbar">
                                            <div class="col-lg-7">
                                                    <span class="btn btn-default fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        <span>选择图片</span>
                                                        <input type="file" name="files[]" multiple>
                                                    </span>
                                            </div>
                                        </div>
                                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">视频封面2：</label>
                                <div style="width:100px;"><img style="width: 100%;" src="{{formData.big_thumb_pic_url}}" ></div>
                                <div>
                                    <div class="big_topic_Thumb_pic_fileupload">
                                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                        <div class="row fileupload-buttonbar">
                                            <div class="col-lg-7">
                                                    <span class="btn btn-default fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        <span>选择图片</span>
                                                        <input type="file" name="files[]" multiple>
                                                    </span>
                                            </div>
                                        </div>
                                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="addTopicCommit()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 新增主题模态框 -->
    <div class="modal fade bs-example-modal-lg add-topic"  id="add-topic"  >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">新增主题</h3>
                </div>
                <div class="modal-body wrapper-md">
                    <div class="wrapper-md">
                        <ul class="nav nav-tabs">
                            <li role="presentation" ng-class="{active:tab.selected=='video'}" ng-click="switchTab('video')"><a>视频</a></li>
                            <li role="presentation" ng-class="{active:tab.selected=='pic'}" ng-click="switchTab('pic')"><a>图文</a></li>
                            <li role="presentation" ng-class="{active:tab.selected=='goods'}" ng-click="switchTab('goods')"><a>商品</a></li>
                        </ul>
                        <div ng-show="tab.selected=='video'">
                            <div class="panel-body">
                                <div class="row m-b">
                                    <div class="col-xs-6 col-sm-12">
                                        选择视频:
                                        <select class="form-control" ng-model="formData.video_id">
                                            <option ng-repeat="video in videos" value="{{video.id}}">{{video.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" style="padding-left:0px;">
                                    <label>主题名称:</label>
                                    <input type="text" ng-model="formData.title" class="form-control">
                                </div>
                                <div class="form-group col-sm-6"style="padding-right:0px;">
                                    <label>作者姓名:</label>
                                    <select name="" id="" ng-model="formData.account_id" class="form-control ng-pristine ng-animate ng-valid ng-valid-required">
                                        <option value="{{author.id}}" ng-repeat="author in authors">{{author.nickname}}</option>
                                    </select>
                                </div>
                                <p>主题序号:</p>
                                <input type="number" min="0" ng-model="formData.serialNumber"  class="form-control" placeholder="默认0">
                                <div class="form-group col-sm-12">
                                    <label class="control-label">系列分类：</label>
                                    <div>
                                        <label class="checkbox-inline i-checks" ng-repeat="cate in cates" style="margin-left:5px;">
                                            <input type="checkbox" name="cate_ids" value="{{cate.id}}" ng-checked="formData.category_ids.indexOf(cate.categoryId) > -1" ng-click="toggleCateSelection(cate.categoryId)"><i></i> {{cate.categoryName}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label">主题标签：</label>
                                    <div>
                                        <label class="checkbox-inline i-checks" ng-repeat="tag in tags" style="margin-left:5px;">
                                            <input type="checkbox" name="tag_ids" value="{{tag.id}}" ng-checked="formData.tag_ids.indexOf(tag.id) > -1" ng-click="toggleTagSelection(tag.id)"><i></i> {{tag.name}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">视频封面1(1:1的图片)：</label>
                                    <div style="width:100px;"><img style="width: 100%;" src="{{formData.thumb_pic_url}}" ></div>
                                    <div>
                                        <div class="topic_Thumb_pic_fileupload">
                                            <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                            <div class="row fileupload-buttonbar">
                                                <div class="col-lg-7">
                                                    <span class="btn btn-default fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        <span>选择图片</span>
                                                        <input type="file" name="files[]" multiple>
                                                    </span>
                                                </div>
                                            </div>
                                            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">视频封面2(7:4的图片)：</label>
                                    <div style="width:100px;"><img style="width: 100%;" src="{{formData.big_thumb_pic_url}}" ></div>
                                    <div>
                                        <div class="big_topic_Thumb_pic_fileupload">
                                            <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                            <div class="row fileupload-buttonbar">
                                                <div class="col-lg-7">
                                                    <span class="btn btn-default fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        <span>选择图片</span>
                                                        <input type="file" name="files[]" multiple>
                                                    </span>
                                                </div>
                                            </div>
                                            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="tab.selected=='pic'">
                            <div class="wrapper-md">
                                <div class="row">
                                    <div class="col-sm-6"  ng-repeat="step in imageSteps" style="height: 500px;">
                                        <div class="form-group">
                                            <label>第{{$index+1}}步图片：</label>
                                            <div style="width:auto;height:100px;"><img style="width:auto;height:100px;" src="{{step.pic_url}}" alt=""></div>
                                            <div class="poster_fileupload" ui-jq="fileupload" ui-options="initFileoptions(step)">
                                                <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                                <div class="row fileupload-buttonbar">
                                                    <div class="col-lg-7">
                                                        <span class="btn btn-default fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>选择图片</span>
                                                            <input type="file" name="files[]" multiple>
                                                        </span>
                                                    </div>
                                                </div>
                                                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>第{{$index+1}}步描述</label>
                                            <textarea class="form-control" placeholder="步骤描述" rows="2" ng-model="step.content" name=""></textarea>
                                        </div>
                                        <button ng-click="removeImageStep($index)">删除</button>
                                    </div>
                                </div>
                                <button class="btn btn-info" ng-click="addStep()">添加一步</button>
                            </div>
                        </div>
                        <div ng-show="tab.selected=='goods'">
                            <div class="wrapper-md">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>搜索添加商品</label>
                                        <div class="input-group">
                                            <div>
                                                <angucomplete-alt id="ex1"
                                                placeholder="输入商品名称、描述"
                                                text-searching="正在搜索..."
                                                text-no-results="没有此商品"
                                                clear-selected="true"
                                                pause="200"
                                                selected-object="addselectedGoods"
                                                remote-url="/cms/goods/getsearchList?perPage=50&page=1&type=1"
                                                remote-url-request-formatter="remoteUrlRequestFn"
                                                remote-url-data-field="result.pageData"
                                                title-field="name"
                                                minlength="1"
                                                input-class="form-control form-control-small"/>
                                            </div>
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-sm bg-light rounded" style="height: 34px;"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- 商品模型 -->
                                    <div class="col-sm-4"  ng-repeat="step in goodsSteps" style="margin-top: 20px;">
                                        <div class="panel panel-default">
                                            <div class="panel-body"><img class="img-full" src="{{step.pic_url}}" alt=""></div>
                                            <p class="text-center">
                                                <label class="label bg-info m-l-xs">{{step.name}}</label> 
                                            </p> 
                                            <div class="form-group" style="padding-left:5px;padding-right:5px;">
                                                <label>货品序号:</label>
                                                <input type="text" ng-model="step.serial_number" class="form-control">
                                            </div>
                                            <div class="form-group" style="padding-left:5px;padding-right:5px;">
                                                <label>货品详情:</label>
                                                <textarea type="text" ng-model="step.description" class="form-control" style="height: 90px;"></textarea>
                                            </div>
                                            <div class="text-center" style="margin-bottom: 20px;">
                                                <label class="label bg-danger m-l-xs" ng-click="deleteGoods($index)">删除</label> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="addTopicCommit()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 更新主题确认模态框框 -->
    <div class="modal fade bs-example-modal-lg updata-topic"  id="updata-topic">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">更新主题</h3>
                </div>
                <div class="modal-body ng-show= wrapper-md">
                    <div class="wrapper-md">
                        <ul class="nav nav-tabs">
                            <li role="presentation" ng-class="{active:tab.selected=='video'}" ng-click="switchTab('video')"><a>视频</a></li>
                            <li role="presentation" ng-class="{active:tab.selected=='pic'}" ng-click="switchTab('pic')"><a >图文</a></li>
                            <li role="presentation" ng-class="{active:tab.selected=='goods'}" ng-click="switchTab('goods')"><a>商品</a></li>
                        </ul>
                        <div ng-show="tab.selected=='video'">
                            <div class="panel-body">
                                <div class="row m-b">
                                    <div class="col-xs-6 col-sm-12">
                                        <p>选择视频</p>
                                        <select class="form-control" ng-model="formData.video" ng-options="item.name for item in videos" required>
                                            <option value="">选择视频</option>
                                        </select>
                                        <div class="form-group col-sm-6"style="padding-left:0px;">
                                            <label>主题名称:</label>
                                            <input type="text" ng-model="formData.title" class="form-control">
                                        </div>
                                        <div class="form-group col-sm-6" style="padding-right:0px;">
                                            <label>作者姓名:</label>
                                            <select class="form-control" ng-model="formData.account" ng-options="item.nickname for item in authors" required>
                                                <option value="">选择作者</option>
                                            </select>
                                        </div>

                                        <p>主题序号:</p>
                                        <input type="number" min="0" ng-model="formData.serialNum"  class="form-control">
                                        <div class="form-group col-sm-12">
                                            <label class="control-label">主题标签：</label>
                                            <div>
                                                <label class="checkbox-inline i-checks" ng-repeat="tag in tags" style="margin-left:5px;">
                                                    <input type="checkbox" name="tag_ids" value="{{tag.id}}"
                                                           ng-checked="formData.tag_ids.indexOf(tag.id) > -1"
                                                           ng-click="toggleTagSelection(tag.id)"
                                                            ><i></i> {{tag.name}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label">系列分类：</label>
                                            <div>
                                                <label class="checkbox-inline i-checks" ng-repeat="cate in cates" style="margin-left:5px;">
                                                    <input type="checkbox" name="cate_ids" value="{{cate.categoryId}}"
                                                           ng-checked="formData.category_ids.indexOf(cate.categoryId) > -1"
                                                           ng-click="toggleCateSelection(cate.categoryId)"
                                                            ><i></i> {{cate.categoryName}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6" >
                                            <label class="control-label">视频封面1(1：1的图片)：</label>
                                            <div style="width:100px;"><img style="width: 100%;" ng-src="{{formData.thumb_pic_url}}" alt=""></div>
                                            <div>
                                                <div class="topic_Thumb_pic_fileupload">
                                                    <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                                    <div class="row fileupload-buttonbar">
                                                        <div class="col-lg-7">
                                                            <span class="btn btn-default fileinput-button">
                                                                <i class="glyphicon glyphicon-plus"></i>
                                                                <span>选择图片</span>
                                                                <input type="file" name="files[]" multiple>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">视频封面2：</label>
                                            <div style="width:100px;"><img style="width: 100%;" src="{{formData.big_thumb_pic_url}}" ></div>
                                            <div>
                                                <div class="big_topic_Thumb_pic_fileupload">
                                                    <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                                    <div class="row fileupload-buttonbar">
                                                        <div class="col-lg-7">
                                                    <span class="btn btn-default fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        <span>选择图片</span>
                                                        <input type="file" name="files[]" multiple>
                                                    </span>
                                                        </div>
                                                    </div>
                                                    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="tab.selected=='pic'">
                            <div class="wrapper-md">
                                <div class="row">
                                    <div class="col-sm-6"  ng-repeat="step in imageSteps" style="height: 500px;">
                                        <div class="form-group">
                                            <label>第{{$index+1}}步图片：</label>
                                            <div style="width:auto;height:100px;"><img style="width:auto;height:100px;" src="{{step.pic_url}}" alt=""></div>
                                            <div class="poster_fileupload" ui-jq="fileupload" ui-options="initFileoptions(step)">
                                                <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                                <div class="row fileupload-buttonbar">
                                                    <div class="col-lg-7">
                                                        <span class="btn btn-default fileinput-button"><i class="glyphicon glyphicon-plus"></i><span>选择图片</span><input type="file" name="files[]" multiple></span>
                                                    </div>
                                                </div>
                                                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>第{{$index+1}}步描述</label>
                                            <textarea class="form-control" placeholder="步骤描述" rows="2" ng-model="step.content" name=""></textarea>
                                        </div>
                                        <button ng-click="removeImageStep($index)">删除</button>
                                    </div>
                                </div>
                                <button class="btn btn-info" ng-click="addStep()">添加一步</button>
                            </div>
                        </div>
                        <div ng-show="tab.selected=='goods'">
                            <div class="wrapper-md">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>搜索添加商品</label>
                                        <div class="input-group">
                                            <div>
                                                <angucomplete-alt id="ex1"
                                                placeholder="输入商品名称、描述"
                                                text-searching="正在搜索..."
                                                text-no-results="没有此商品"
                                                clear-selected="true"
                                                pause="200"
                                                selected-object="editselectedGoods"
                                                remote-url="/cms/goods/getsearchList?perPage=50&page=1&type=1"
                                                remote-url-request-formatter="remoteUrlRequestFn"
                                                remote-url-data-field="result.pageData"
                                                title-field="name"
                                                minlength="1"
                                                input-class="form-control form-control-small"/>
                                            </div>
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-sm bg-light rounded" style="height: 34px;"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                     </div>
                                    <!-- 商品模型 -->
                                    <div class="col-sm-4"  ng-repeat="step in goodsSteps" style="margin-top: 20px;">
                                        <div class="panel panel-default">
                                            <div class="panel-body"><img class="img-full" src="{{step.pic_url}}" alt=""></div>
                                            <p class="text-center">
                                                <label class="label bg-info m-l-xs">{{step.name}}</label> 
                                            </p> 
                                            <div class="form-group" style="padding-left:5px;padding-right:5px;">
                                                <label>货品序号:</label>
                                                <input type="text" ng-model="step.serial_number" class="form-control">
                                            </div>
                                            <div class="form-group" style="padding-left:5px;padding-right:5px;">
                                                <label>货品详情:</label>
                                                <textarea type="text" ng-model="step.description" class="form-control" style="height: 90px;"></textarea>
                                            </div>
                                            <div class="text-center" style="margin-bottom: 20px;">
                                                <label class="label bg-danger m-l-xs" ng-click="deleteGoods($index)">删除</label> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updataTopicData(topicData.id)">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除主题确认弹窗 -->
    <div class="modal fade bs-example-modal-lg delete-topic" id="delete-topic" role="dialog" aria-hidden="false">
        <div class="modal-dialog" style="margin-top: 200px;">
            <div class="modal-content">
                <div class="panel panel-default" style="margin-bottom: 0px;border: none;">
                    <div class="panel-heading">删除主题</div>
                    <div class="row wrapper">
                        <div class="form-group">
                            <div id="deleteTopic" data-topicId=""></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"style="border: none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" ng-click="deleteTopic()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 新建系列弹窗弹窗 -->
    <div class="modal fade" tabindex="-1" id="creatCategory" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="margin-top: 200px;">
            <div class="modal-content">
                <div class="panel panel-default" style="margin-bottom:0px;border:none;">
                    <div class="panel-heading">新建系列信息</div>
                    <div class="row wrapper">
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-center" style="line-height: 32px;">系列名称</label>
                            <div class="col-sm-11">
                                <input type="text"  class="form-control" placeholder="系列名称" ng-model="viewData.channelFormData.name">
                            </div>
                        </div>
                    </div>
                    <div class="row wrapper">
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-center" style="line-height: 32px;">系列序号</label>
                            <div class="col-sm-11">
                                <input type="text"  class="form-control" placeholder="系列序号" ng-model="viewData.channelFormData.serial_number">
                            </div>
                        </div>
                    </div>
                    <div class="row wrapper">
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-center" style="line-height: 32px;">系列类别</label>
                            <div class="col-sm-2" style="margin-top:5px;">
                                <input type="radio" ng-model="viewData.channelFormData.serial_type" value="topic">&nbsp;普通主题&nbsp;&nbsp;
                                <input type="radio" ng-model="viewData.channelFormData.serial_type" value="activity">&nbsp;活动&nbsp;&nbsp;
                            </div>
                            <div class="col-sm-9" style="height:30px;">
                                <span style="display: inline-block;width: 50px;">显示</span>
                                <label class="i-switch m-r" style="position: relative;top: 5px;">
                                    <input type="checkbox" checked ng-checked="viewData.channelFormData.need_show == 1" ng-click="showneed()">
                                    <i></i>
                                </label>  
                            </div>
                        </div>
                    </div>
                    <div class="row wrapper">
                        <div class="wrapper-md ng-scope" ng-show="viewData.channelFormData.pic_url">
                            <div class="row" id="editpostimg">
                                <div class="col-sm-4">
                                    <div class="panel panel-default">
                                        <div class="panel-body"><img class="img-full" src="{{viewData.channelFormData.pic_url}}" alt=""></div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-center" style="line-height: 32px;">系列封面</label>
                            <div class="col-sm-11">
                                <div>
                                    <div class="cate_pic_fileupload">
                                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                        <div class="row fileupload-buttonbar">
                                            <div class="col-lg-7">
                                                <span class="btn btn-default fileinput-button">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    <span>选择图片</span>
                                                    <input type="file" name="files[]" multiple>
                                                </span>
                                            </div>
                                        </div>
                                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row wrapper">
                        <div class="wrapper-md ng-scope" ng-show="viewData.channelFormData.home_menu_icon">
                            <div class="row" id="editpostimg">
                                <div class="col-sm-4">
                                    <div class="panel panel-default">
                                        <div class="panel-body"><img class="img-full" src="{{viewData.channelFormData.home_menu_icon}}" alt=""></div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-center" style="line-height: 32px;">系列图标</label>
                            <div class="col-sm-11">
                                <div>
                                    <div class="cate_newpic_fileupload">
                                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                        <div class="row fileupload-buttonbar">
                                            <div class="col-lg-7">
                                                <span class="btn btn-default fileinput-button">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    <span>选择图片</span>
                                                    <input type="file" name="files[]" multiple>
                                                </span>
                                            </div>
                                        </div>
                                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border:none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addChannel()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑系列弹窗弹窗 -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="editCategory">
        <div class="modal-dialog modal-lg" style="margin-top: 200px;">
            <div class="modal-content">
                <div class="panel panel-default" style="margin-bottom:0px;border:none;">
                    <div class="panel-heading">编辑系列信息</div>
                    <div class="row wrapper">
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-center" style="line-height: 32px;">系列名称</label>
                            <div class="col-sm-11">
                                <input type="text"  class="form-control" placeholder="重命名" ng-model="edittingChannel.categoryName" >
                            </div>                                
                        </div>
                    </div>
                    <div class="row wrapper">
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-center" style="line-height: 32px;">系列序号</label>
                            <div class="col-sm-11">
                                <input type="text"  class="form-control" placeholder="排列顺序" ng-model="edittingChannel.serial_number">
                            </div>                                
                        </div>
                    </div>

                    <div class="row wrapper">
                        <div class="form-group">
                            <div class="col-sm-9" style="height:30px;">
                                <span style="display: inline-block;width: 50px;">显示</span>
                                <label class="i-switch m-r" style="position: relative;top: 5px;">
                                    <input type="checkbox" checked ng-checked="edittingChannel.need_show == 1" ng-click="editshowneed()">
                                    <i></i>
                                </label>  
                            </div>
                        </div>
                    </div>

                    <div class="row wrapper">
                        <div class="wrapper-md ng-scope" ng-show="edittingChannel.pic_url">
                            <div class="row" id="editpostimg">
                                <div class="col-sm-4">
                                    <div class="panel panel-default">
                                        <div class="panel-body"><img class="img-full" src="{{edittingChannel.pic_url}}" alt=""></div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-center" style="line-height: 32px;">系列封面</label>
                            <div class="col-sm-11">
                                <div>
                                    <div class="cate_pic_fileupload">
                                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                        <div class="row fileupload-buttonbar">
                                            <div class="col-lg-7">
                                                    <span class="btn btn-default fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        <span>选择图片</span>
                                                        <input type="file" name="files[]" multiple>
                                                    </span>
                                            </div>
                                        </div>
                                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row wrapper">
                        <div class="wrapper-md ng-scope" ng-show="edittingChannel.home_menu_icon">
                            <div class="row" id="editpostimg">
                                <div class="col-sm-4">
                                    <div class="panel panel-default">
                                        <div class="panel-body"><img class="img-full" src="{{edittingChannel.home_menu_icon}}" alt=""></div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-center" style="line-height: 32px;">系列图标</label>
                            <div class="col-sm-11">
                                <div>
                                    <div class="cate_newpic_fileupload">
                                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                        <div class="row fileupload-buttonbar">
                                            <div class="col-lg-7">
                                                    <span class="btn btn-default fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        <span>选择图片</span>
                                                        <input type="file" name="files[]" multiple>
                                                    </span>
                                            </div>
                                        </div>
                                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border:none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="renameChannel()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除系列模态框 -->
    <div class="modal fade bs-example-modal-lg delete-category" id="delete-category" role="dialog" aria-hidden="false">
        <div class="modal-dialog" style="margin-top: 200px;">
            <div class="modal-content">
                <div class="panel panel-default" style="margin-bottom:0px;border:none;">
                    <div class="panel-heading">删除系列</div>
                    <div class="row wrapper">
                        <div class="form-group">
                            <div id="deleteCategory" data-categoryId=""></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border:none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" ng-click="deleteIndexChannel()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--图片上传模板-->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade" style="height:150px">
        <td>
            <div>
                <ul style="list-style:none;height:100px;width:auto" class="col-sm-6">
                    <li><span class="preview"></span></li>
                    <li><div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div></div></li>
                </ul>
                <ul style="list-style:none" class="col-sm-6">
                    <li >
                        {% if (!i && !o.options.autoUpload) { %}
                        <button class="btn btn-primary start col-sm-12" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>上传</span>
                        </button>
                        {% } %}
                        {% if (!i) { %}
                        <button class="btn btn-default cancel col-sm-12" style="margin-top:12px">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>取消上传</span>
                        </button>
                        {% } %}
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade uplpadimg">
            <td>
            {%=file.upload_date%}
                <span class="preview">
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                </span>
                <input type="hidden" name="pictureId" value={%=file.id%}/>
                <input type="hidden" name="pictureId" value={%=file.url%}/>
            </td>
            <td>
                <button class="btn btn-default cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>删除</span>
                </button>
            </td>
        </tr>
        {% } %}
</script>



