<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="VideoUploadCtrl">
<!--new video-->
    <div class="panel panel-default">
        <div class="panel-heading font-bold">上传视频</div>
        <div class="panel-body">
            <form class="form-validation form-horizontal" id="newVideoForm" name="newVideoForm" role="form"  method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><strong class="text-danger">*</strong> 视频名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="视频名称"
                               ng-model="video.name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">视频文件</label>
                    <div class="col-sm-8">

                        <div id="video_fileupload" >
                            <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                            <div class="row fileupload-buttonbar">
                                <div class="col-lg-7">
                                    <span class="btn btn-default fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>选择视频文件</span>
                                        <input type="file" name="files[]" multiple>
                                    </span>
                                </div>
                            </div>
                            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                        </div>

                    </div>
                </div>

                <div class="form-group">

                </div>

                <div class="has-error text-right" ng-if="viewMsg.errorMsg">
                    <label class="control-label">{{viewMsg.errorMsg}}</label>
                </div>
                <div class="has-success text-right" ng-if="viewMsg.successMsg">
                    <label class="control-label">{{viewMsg.successMsg}}</label>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <div>
                <ul>
                    <li><span class="preview"></span></li>
                    <li><p class="name">{%=file.name%}</p>
                        <strong class="error text-danger"></strong></li>
                    <li> <p class="size">Processing...</p>
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div></li>
                </ul>
                <ul>
                    <li>
                        {% if (!i && !o.options.autoUpload) { %}
                        <button class="btn btn-primary start" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>上传</span>
                        </button>
                        {% } %}
                        {% if (!i) { %}
                        <button class="btn btn-default cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>取消上传</span>
                        </button>
                        {% } %}
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">上传失败</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
            <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
            <i class="glyphicon glyphicon-trash"></i>
            <span>删除</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
            <button class="btn btn-default cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>删除</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>