<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="VideoCtrl">

    <div class="panel-heading">
        <span class="h-3 lh-3">视频列表</span>
        <button class="btn btn-primary pull-right">
            <a ui-sref="app.uploadvideo">
                创建视频
            </a>
        </button>
        <div class="clearfix"></div>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:510px"></div>
            </div>
        </div>
    </div>

    <div class="modal fade delete-video" arid-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除视频</h4>
                </div>
                <div class="modal-body center-block">
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">名称:</h4>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" disabled ng-model="video.name"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">视频大小:</h4>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" disabled ng-model="video.size_format"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">上传时间：</h4>
                            <div class="input-group date form_datetime1 col-md-6" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" readonly ng-model="video.upload_date_format">
                            </div>
                            <input type="hidden"  value="" /><br/>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteVideo()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>