<!-- list -->
<ul class="nav">
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-facetime-video icon text-primary-dker"></i>
      <span class="font-bold" translate="cms.video.menu_title">视频设置</span>
    </a>
    <ul class="nav nav-sub dk">

      <li ui-sref-active="active">
        <a ui-sref="app.video_list">
          <span translate="cms.video.menu_video"></span>
        </a>
      </li>
    </ul>
  </li>

    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
            <span class="font-bold" translate="cms.channel.title">频道管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.topic_list">
                    <span translate="cms.channel.menu_topic"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.deletetopic">
                    <span translate="cms.channel.menu_deletetopic"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.poster_setting">
                    <span translate="cms.channel.menu_poster_setting"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tags_setting">
                    <span translate="cms.channel.menu_tags_setting"></span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-pencil icon text-primary-dker"></i>
            <span class="font-bold" translate="cms.activities.title">求教程管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.jiaocheng">
                    <span translate="cms.activities.menu_basic"></span>
                </a>
            </li>
        </ul>
    </li>


    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-cog icon text-primary-dker"></i>
            <span class="font-bold" translate="cms.system.title">系统管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.userMessage">
                    <span translate="cms.system.push_message"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.get_feedback">
                    <span translate="cms.system.get_feedback"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.add_author">
                    <span translate="cms.system.add_author"></span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-retweet icon text-primary-dker"></i>
            <span class="font-bold" translate="cms.weixin.title">微信互动</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.auto_reply">
                    <span translate="cms.weixin.menu_basic"></span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href class="auto">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-th-large icon text-primary-dker"></i>
            <span class="font-bold" translate="cms.communities.title">圈子管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.communities">
                    <span translate="cms.communities.menu_basic"></span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href class="auto">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-shopping-cart icon text-primary-dker"></i>
            <span class="font-bold" translate="cms.goods.title">货品管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.goods_new">
                    <span translate="cms.goods.menu_new_goods"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.goods_list">
                    <span translate="cms.goods.menu_list_goods"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.web_list">
                    <span translate="cms.goods.menu_list_web"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- / list -->