<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="communitypostCtrl">
    <div class="panel b-a">
        <div class="panel-heading b-b b-light">{{modalData.show.name}}——中的帖子</div>
        <div class="panel-body clearfix">
            <button type="button" class="btn btn-info" ng-click="goBackCommunities()">返回圈子</button>
            <button type="button" class="btn btn-danger" style="float: right;margin-left: 5px;" data-toggle="modal" data-target=".clearPost">清空帖子</button>
            <button type="button" class="btn btn-info" style="float: right;margin-left: 5px;" ng-click="getreported()">查看举报</button>
            <button type="button" class="btn btn-info" style="float: right;margin-left: 5px;" ng-click="getAllData()">查看所有</button>
            <button type="button" class="btn btn-primary" style="float: right;margin-left: 5px;" data-toggle="modal" data-target=".addPost" ng-click="addNewData()">添加帖子</button>
            <div class="form-group" style="float: right;margin-left: 5px;width:200px;">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid" placeholder="输入标题、作者、内容" ng-model="modalData.show.key">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded" ng-click="getsearchdata()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
	<div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                帖子列表
            </div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:600px;max-height: 1000px"></div>
            </div>
        </div>
    </div>
    
    <!-- 查看帖子图片 -->
    <div class="modal fade showPostImg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">查看图片——{{modalData.show.title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="wrapper-md ng-scope">
                        <div class="row">
                            <div class="col-lg-3" ng-repeat="img in modalData.show.img">
                                <div class="panel panel-default">
                                    <div class="panel-body"><img class="img-full" src="{{img.pic_url}}" alt=""></div>
                                    <p class="text-center"><label class="label bg-danger m-l-xs">{{img.serial_number +1}}</label></p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 置顶和取消置顶 -->
    <div class="modal fade toggleTop" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{modalData.show.title}}</h4>
                </div>
                <div class="modal-body">
                    <h4>{{modalData.show.top.tips}}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="toggleTopOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 推荐和取消推荐 -->
    <div class="modal fade toggleHot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{modalData.show.title}}</h4>
                </div>
                <div class="modal-body">
                    <h4>{{modalData.show.hot.tips}}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="toggleHotOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 加精和取消加精 -->
    <div class="modal fade toggleBest" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{modalData.show.title}}</h4>
                </div>
                <div class="modal-body">
                    <h4>{{modalData.show.best.tips}}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="toggleBestOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 新建帖子 -->
    <div class="modal fade addPost" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加帖子</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-4">
                            <label>标题</label>
                            <input type="text" placeholder="标题" class="form-control" ng-model="modalData.add.title">   
                        </div>
                        <div class="col-sm-4">
                            <label>搜索作者</label>
                            <div class="input-group">
                                <div>
                                    <angucomplete-alt id="ex1"
                                    placeholder="输入用户昵称、用户名"
                                    text-searching="正在搜索..."
                                    text-no-results="没有此用户"
                                    pause="200"
                                    selected-object="addselectedAuthor"
                                    remote-url="/cms/user/searchUser?perPage=50&page=1"
                                    remote-url-request-formatter="remoteUrlRequestFn"
                                    remote-url-data-field="result.pageData"
                                    title-field="nickname"
                                    minlength="3"
                                    input-class="form-control form-control-small"/>
                                </div>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm bg-light rounded" style="height: 34px;"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>操作</label>
                            <div class="input-group">
                                <span style="display: inline-block;width: 45px;">置顶</span>
                                <label class="i-switch m-r" style="position: relative;top: 5px;">
                                    <input id="showparentbtn" type="checkbox" checked ng-checked="modalData.add.is_top != 0" ng-click="chooseTop()">
                                    <i></i>
                                </label> 
                                <span style="display: inline-block;width: 45px;">推荐</span>
                                <label class="i-switch m-r" style="position: relative;top: 5px;">
                                    <input id="showparentbtn" type="checkbox" checked ng-checked="modalData.add.is_hot != 0" ng-click="chooseHot()">
                                    <i></i>
                                </label> 
                            </div>
                        </div>
                    </div>
                    <h4>添加帖子内容</h4>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <textarea class="form-control ng-pristine ng-valid" placeholder="内容" rows="2" ng-model="modalData.add.content" name="" style="margin: 0px -64px 0px 0px; width: 100%; height: 90px;"></textarea> 
                        </div>                       
                    </div>
                    <div class="wrapper-md ng-scope">
                        <div class="row" id="editpostimg">
                            <div class="col-lg-3" ng-repeat="img in modalData.add.imgs">
                                <div class="panel panel-default">
                                    <div class="panel-body"><img class="img-full" src="{{img.pic_url}}" alt=""></div>
                                    <p class="text-center">
                                        <label class="label bg-info m-l-xs">{{img.serial_number}}</label> 
                                        <label class="label bg-danger m-l-xs" ng-click="deletepostimg($index)">删除</label> 
                                    </p> 
                                    <p class="text-center">序号 <input type="text" style="width:65%;display: inline-block;" placeholder="序号" class="form-control" ng-model="img.serial_number"></p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-8">
                            <div id="addpostpic_fileupload">
                                <noscript>
                                    <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
                                </noscript>
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <span class="btn btn-default fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>选择图片文件</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                    </div>
                                </div>
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="addPostOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑帖子 -->
    <div class="modal fade editPost" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑——{{modalData.edit.post.title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-4">
                            <label>标题</label>
                            <input type="text" placeholder="标题" class="form-control" ng-model="modalData.edit.post.title">   
                        </div>
                        <div class="col-sm-4">
                            <label>搜索作者</label>
                            <div class="input-group">
                                <div>
                                    <angucomplete-alt id="ex1"
                                    placeholder="{{modalData.edit.post.nickname}}"
                                    text-searching="正在搜索..."
                                    text-no-results="没有此用户"
                                    pause="200"
                                    selected-object="editselectedAuthor"
                                    remote-url="/cms/user/searchUser?perPage=50&page=1"
                                    remote-url-request-formatter="remoteUrlRequestFn"
                                    remote-url-data-field="result.pageData"
                                    title-field="nickname"
                                    minlength="3"
                                    input-class="form-control form-control-small"/>
                                </div>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm bg-light rounded" style="height: 34px;"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>操作</label>
                            <div class="input-group">
                                <span style="display: inline-block;width: 45px;">置顶</span>
                                <label class="i-switch m-r" style="position: relative;top: 5px;">
                                    <input id="showparentbtn" type="checkbox" checked ng-checked="modalData.edit.post.is_top != 0" ng-click="editTop()">
                                    <i></i>
                                </label> 
                                <span style="display: inline-block;width: 45px;">推荐</span>
                                <label class="i-switch m-r" style="position: relative;top: 5px;">
                                    <input id="showparentbtn" type="checkbox" checked ng-checked="modalData.edit.post.is_hot != 0" ng-click="editHot()">
                                    <i></i>
                                </label> 
                            </div>
                        </div>
                    </div>
                    <h4>添加帖子内容</h4>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <textarea class="form-control ng-pristine ng-valid" placeholder="内容" rows="2" ng-model="modalData.edit.post.content" name="" style="margin: 0px -64px 0px 0px; width: 100%; height: 90px;"></textarea> 
                        </div>                       
                    </div>
                    <div class="wrapper-md ng-scope">
                        <div class="row" id="editpostimg">
                            <div class="col-lg-3" ng-repeat="img in modalData.edit.imgs">
                                <div class="panel panel-default">
                                    <div class="panel-body"><img class="img-full" src="{{img.pic_url}}" alt=""></div>
                                    <p class="text-center">
                                        <label class="label bg-info m-l-xs">{{img.serial_number}}</label> 
                                        <label class="label bg-danger m-l-xs" ng-click="editdeletepostimg(img.pic_id)">删除</label> 
                                    </p> 
                                    <p class="text-center">序号 <input type="text" style="width:65%;display: inline-block;" placeholder="序号" class="form-control" ng-model="img.serial_number"></p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-8">
                            <div id="editpostpic_fileupload">
                                <noscript>
                                    <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
                                </noscript>
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <span class="btn btn-default fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>选择图片文件</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                    </div>
                                </div>
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="editPostOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除帖子 -->
    <div class="modal fade deletePost" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除帖子</h4>
                </div>
                <div class="modal-body">
                    <h4>确认删除{{modalData.show.delete.title}}？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="deletePostOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 清空帖子 -->
    <div class="modal fade clearPost" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">清空帖子</h4>
                </div>
                <div class="modal-body">
                    <h4>确认清除所有帖子？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="clearPostOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 推送帖子 -->
    <div class="modal fade pushPost" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">是否推送————{{modalData.show.pushdata.tips}}?</h4>
                </div>
                <div class="modal-body"> 
                    <h4>推送标题</h4>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <input class="form-control ng-pristine ng-valid" placeholder="推送标题" rows="2" ng-model="modalData.show.pushdata.title" name="" style="margin: 0px -64px 0px 0px; width: 100%;">
                        </div>                       
                    </div>
                    <h4>添加推送内容</h4>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <textarea class="form-control ng-pristine ng-valid" placeholder="内容" rows="2" ng-model="modalData.show.pushdata.content" name="" style="margin: 0px -64px 0px 0px; width: 100%; height: 90px;"></textarea> 
                        </div>                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="pushPostOk()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        format: 'yyyy年mm月dd日 hh:ii:ss',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <div>
                    <ul>
                        <li><span class="preview"></span></li>
                        <li><p class="name">{%=file.name%}</p><strong class="error text-danger"></strong></li>
                        <li> 
                            <p class="size">Processing...</p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            {% if (!i && !o.options.autoUpload) { %}
                                <button class="btn btn-primary start" disabled ng-click=initPoster_pic_fileupload()>
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>上传</span>
                                </button>
                            {% } %}
                            {% if (!i) { %}
                                <button class="btn btn-default cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>取消上传</span>
                                </button>
                            {% } %}
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr id="uplpadimg" class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                            {% } else { %}
                                <span>{%=file.name%}</span>
                            {% } %}
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">上传失败</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>删除</span>
                    </button>
                    <input type="checkbox" name="delete" value="1" class="toggle">
                    {% } else { %}
                        <button class="btn btn-default cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>删除</span>
                        </button>
                    {% } %}
            </td>
        </tr>
    {% } %}
</script>