<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="communitiesCtrl">
    <div class="panel b-a">

        <div class="panel-heading b-b b-light">圈子管理</div>
        <div class="panel-body clearfix">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".addData" ng-click="addNewData()">添加圈子</button>
            <button type="button" class="btn btn-info" style="float: right;margin-left: 5px;" ng-click="getreported()">查看举报</button>
            <button type="button" class="btn btn-info" style="float: right;margin-left: 5px;" ng-click="getAllData()">查看所有</button>
            <div class="form-group" style="float: right;margin-left: 5px;width:200px;">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid" placeholder="输入名称、作者、类别" ng-model="modalData.addData.show.key">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded" ng-click="getsearchdata()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
	 <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                已有圈子
            </div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:600px;max-height: 1000px"></div>
            </div>
        </div>
    </div>

    <!-- 新建圈子 -->
    <div class="modal fade addData" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加圈子</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-4">
                            <label>名称</label>
                            <input type="text" placeholder="名称" class="form-control" ng-model="modalData.addData.data.name">   
                        </div>
                        <div class="col-sm-4">
                            <label>类别</label>
                            <div class="input-group">
                                <input type="text" placeholder="类别" class="form-control" ng-model="modalData.addData.data.attr">
                                <div class="input-group-btn dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li ng-repeat="attr in modalData.addData.show.attrlist"><a href ng-click="chooseattr(attr)">{{attr}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>搜索作者</label>
                            <div class="input-group">
                                <div>
                                    <angucomplete-alt id="ex1"
                                    placeholder="输入用户昵称、用户名"
                                    text-searching="正在搜索..."
                                    text-no-results="没有此用户"
                                    pause="200"
                                    selected-object="addselectedAuthor"
                                    remote-url="/cms/user/searchUser?perPage=50&page=1"
                                    remote-url-request-formatter="remoteUrlRequestFn"
                                    remote-url-data-field="result.pageData"
                                    title-field="nickname"
                                    minlength="3"
                                    input-class="form-control form-control-small"/>
                                </div>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm bg-light rounded" style="height: 34px;"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>                    
                    <div class="wrapper-md ng-scope" ng-show="modalData.addData.data.pic_url">
                        <div class="row" id="editpostimg">
                            <div class="col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-body"><img class="img-full" src="{{modalData.addData.data.pic_url}}" alt=""></div>
                                    <p class="text-center">
                                        <label class="label bg-danger m-l-xs" ng-click="deleteaddimg()">删除</label> 
                                    </p> 
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-8">
                            <div id="commouity_pic_fileupload">
                                <noscript>
                                    <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
                                </noscript>
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <span class="btn btn-default fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>选择图片文件</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                    </div>
                                </div>
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-4" style="height:30px;">
                            <span style="display: inline-block;width: 120px;">{{modalData.addData.show.tips}}</span>
                            <label class="i-switch m-r" style="position: relative;top: 5px;">
                                <input id="showparentbtn" type="checkbox" checked ng-checked="!modalData.addData.show.parentlistshow" ng-click="showParentList()">
                                <i></i>
                            </label>  
                        </div>
                        <div class="col-sm-4" style="height:30px;">
                            <span style="display: inline-block;width: 120px;">{{modalData.addData.show.status}}</span>
                            <label class="i-switch m-r" style="position: relative;top: 5px;">
                                <input id="showparentbtn" type="checkbox" checked ng-checked="modalData.addData.show.statusshow" ng-click="showstatus()">
                                <i></i>
                            </label>  
                        </div>
                        <div class="col-sm-4" style="height:30px;">
                            <span style="display: inline-block;width: 120px;">{{modalData.addData.show.official}}</span>
                            <label class="i-switch m-r" style="position: relative;top: 5px;">
                                <input id="showparentbtn" type="checkbox" checked ng-checked="modalData.addData.show.officialshow" ng-click="showofficial()">
                                <i></i>
                            </label>  
                        </div>
                    </div>
                    <div class="form-group pull-in clearfix" ng-show="modalData.addData.show.parentlistshow">
                        <div class="col-sm-12">
                            <select class="form-control" required ng-model="modalData.addData.data.parent_id" ng-change="chooseparent()">
                                <option value="">——请选择——</option>
                                <option ng-repeat="parent in modalData.addData.show.parentlist" value="{{parent.community_id}}">{{parent.name}}</option>
                            </select>
                        </div>
                    </div>
                    <h4>添加圈子描述</h4>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <textarea class="form-control ng-pristine ng-valid" placeholder="圈子描述" rows="2" ng-model="modalData.addData.data.description" name="" style="margin: 0px -64px 0px 0px; width: 100%; height: 90px;"></textarea> 
                        </div>                       
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="addCommunity()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑圈子 -->
    <div class="modal fade editData" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑圈子</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-4">
                            <label>名称</label>
                            <input type="text" placeholder="名称" class="form-control" ng-model="modalData.editData.data.name">   
                        </div>
                        <div class="col-sm-4">
                            <label>类别</label>
                            <div class="input-group">
                                <input type="text" placeholder="类别" class="form-control" ng-model="modalData.editData.data.attr">
                                <div class="input-group-btn dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li ng-repeat="attr in modalData.addData.show.attrlist"><a href ng-click="editchooseattr(attr)">{{attr}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>搜索作者</label>
                            <div class="input-group">
                                <div>
                                    <angucomplete-alt id="ex1"
                                    placeholder="{{modalData.editData.data.nickname}}"
                                    text-searching="正在搜索..."
                                    text-no-results="没有此用户"
                                    pause="200"
                                    selected-object="editselectedAuthor"
                                    remote-url="/cms/user/searchUser?perPage=50&page=1"
                                    remote-url-request-formatter="remoteUrlRequestFn"
                                    remote-url-data-field="result.pageData"
                                    title-field="nickname"
                                    minlength="3"
                                    input-class="form-control form-control-small"/>
                                </div>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm bg-light rounded" style="height: 34px;"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-in clearfix">
                        <div class="wrapper-md ng-scope" ng-show="modalData.editData.data.pic_url">
                            <div class="row" id="editpostimg">
                                <div class="col-sm-4">
                                    <div class="panel panel-default">
                                        <div class="panel-body"><img class="img-full" src="{{modalData.editData.data.pic_url}}" alt=""></div>
                                        <p class="text-center">
                                            <label class="label bg-danger m-l-xs" ng-click="editaddimg()">删除</label> 
                                        </p> 
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="col-sm-8">
                            <div id="edit_pic_fileupload">
                                <noscript>
                                    <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
                                </noscript>
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <span class="btn btn-default fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>选择图片文件</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                    </div>
                                </div>
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-4" style="height:30px;">
                            <span style="display: inline-block;width: 120px;">{{modalData.editData.show.tips}}</span>
                            <label class="i-switch m-r" style="position: relative;top: 5px;">
                                <input id="showparentbtn" type="checkbox" checked ng-checked="!modalData.editData.show.parentlistshow" ng-click="editshowParentList()">
                                <i></i>
                            </label>  
                        </div>
                        <div class="col-sm-4" style="height:30px;">
                            <span style="display: inline-block;width: 120px;">{{modalData.editData.show.status}}</span>
                            <label class="i-switch m-r" style="position: relative;top: 5px;">
                                <input id="showparentbtn" type="checkbox" checked ng-checked="modalData.editData.show.statusshow" ng-click="editshowstatus()">
                                <i></i>
                            </label>  
                        </div>
                        <div class="col-sm-4" style="height:30px;">
                            <span style="display: inline-block;width: 120px;">{{modalData.editData.show.official}}</span>
                            <label class="i-switch m-r" style="position: relative;top: 5px;">
                                <input id="showparentbtn" type="checkbox" checked ng-checked="modalData.editData.show.officialshow" ng-click="editshowofficial()">
                                <i></i>
                            </label>  
                        </div>
                    </div>
                    <div class="form-group pull-in clearfix" ng-show="modalData.editData.show.parentlistshow">
                        <div class="col-sm-12">
                            <select class="form-control" required ng-model="modalData.editData.data.parent_id" ng-options='parent.community_id as parent.name for parent in modalData.addData.show.parentlist' ng-change="editchooseparent()">
                                <option value="">——请选择——</option>
                            </select>
                        </div>
                    </div>
                    <h4>圈子描述</h4>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <textarea class="form-control ng-pristine ng-valid" placeholder="圈子描述" rows="2" ng-model="modalData.editData.data.description" name="" style="margin: 0px -64px 0px 0px; width: 100%; height: 90px;"></textarea> 
                        </div>                       
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="editCommunityDone()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除圈子 -->
    <div class="modal fade deletData" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除圈子</h4>
                </div>
                <div class="modal-body">
                    <h4>确认删除{{modalData.deleteData.name}}？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="modalDelete()">确定</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        format: 'yyyy年mm月dd日 hh:ii:ss',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <div>
                    <ul>
                        <li><span class="preview"></span></li>
                        <li><p class="name">{%=file.name%}</p><strong class="error text-danger"></strong></li>
                        <li> 
                            <p class="size">Processing...</p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            {% if (!i && !o.options.autoUpload) { %}
                                <button class="btn btn-primary start" disabled ng-click=initPoster_pic_fileupload()>
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>上传</span>
                                </button>
                            {% } %}
                            {% if (!i) { %}
                                <button class="btn btn-default cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>取消上传</span>
                                </button>
                            {% } %}
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr id="uplpadimg" class="template-download fade uplpadimg">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                            {% } else { %}
                                <span>{%=file.name%}</span>
                            {% } %}
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">上传失败</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>删除</span>
                    </button>
                    <input type="checkbox" name="delete" value="1" class="toggle">
                    {% } else { %}
                        <button class="btn btn-default cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>删除</span>
                        </button>
                    {% } %}
            </td>
        </tr>
    {% } %}
</script>