<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="communityfansCtrl">

    <div class="panel b-a">
        <div class="panel-heading b-b b-light">圈子用户</div>
        <div class="panel-body clearfix">
        	<button type="button" class="btn btn-info" ng-click="goBackCommunities()">返回圈子</button>
        	<button type="button" class="btn btn-danger" style="float: right;margin-left: 5px;" data-toggle="modal" data-target=".clearfans" ng-click="getAllData()">清空用户</button>
            <button type="button" class="btn btn-info" style="float: right;margin-left: 5px;" ng-click="getallfans()">所有用户</button>
            <div class="form-group" style="float: right;margin-left: 5px;width:200px;">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid" placeholder="输入名称、作者、类别" ng-model="fansData.key">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded" ng-click="getsearchfans(1,20)"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
	<div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                用户列表
            </div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:600px;max-height: 1000px"></div>
            </div>
        </div>
    </div>
	
	<!-- 删除圈子用户提示 -->
	 <div class="modal fade deletefans" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除用户</h4>
                </div>
                <div class="modal-body">
                    <h4>确认删除用户——{{fansData.deleteData.nickname}}？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="deletefansOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

	<!-- 清空圈子用户提示 -->
    <div class="modal fade clearfans" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">清空用户</h4>
                </div>
                <div class="modal-body">
                    <h4>确认清空所有用户？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="clearfansOk()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>