<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="postcommentCtrl">
    <div class="panel b-a">
        <div class="panel-heading b-b b-light">{{modalData.show.title}}——中的评论</div>
        <div class="panel-body clearfix">
            <button type="button" class="btn btn-info" ng-click="goBackpost()">返回上级</button>
            <div class="form-group" style="float: right;margin-left: 5px;width:200px;">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid" placeholder="输入作者、@作者、内容" ng-model="modalData.show.key">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded" ng-click="getsearchdata()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-info" style="float: right;margin-left: 5px;" ng-click="getAllData()">查看所有</button>
        </div>
    </div>
	<div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                帖子列表
            </div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:600px;max-height: 1000px"></div>
            </div>
        </div>
    </div>

    <!-- 删除评论 -->
    <div class="modal fade deleteComment" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除评论</h4>
                </div>
                <div class="modal-body">
                    <h4>确认删除评论？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteBtnOk()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        format: 'yyyy年mm月dd日 hh:ii:ss',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>