<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="communitieschildCtrl">
    <div class="panel b-a">

        <div class="panel-heading b-b b-light">子圈子管理</div>
        <div class="panel-body clearfix">
            <button type="button" class="btn btn-primary" ng-click="goBackCommunities()">返回圈子</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".clearData" style="float: right;margin-left: 5px;">清空圈子</button>
        </div>
    </div>
	<div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                子圈子列表
            </div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:600px;max-height: 1000px"></div>
            </div>
        </div>
    </div>

    <!-- 删除圈子 -->
    <div class="modal fade deletData" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除圈子</h4>
                </div>
                <div class="modal-body">
                    <h4>确认删除子圈子——{{child.deleteData.name}}？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="deletechildOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 清空圈子 -->
    <div class="modal fade clearData" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">清空圈子</h4>
                </div>
                <div class="modal-body">
                    <h4>确认清空所有圈子吗？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="clearchildOk()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        format: 'yyyy年mm月dd日 hh:ii:ss',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>