<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="goodsSearchCtrl">
    
    <!-- header -->
    <div class="panel b-a">
        <div class="panel-heading b-b b-light h4">search list</div>
        <div class="panel-body clearfix">
            <button type="button" class="btn btn-primary" style="float: left;margin-left: 5px;" ng-click="goBack()">back</button>
            <div class="form-group" style="float: right;margin-left: 5px;width:300px;">
                <div class="input-group">
                    <div>
                        <angucomplete-alt id="ex1"
                        placeholder="input name or description"
                        text-searching="searching..."
                        text-no-results="not found"
                        clear-selected="true"
                        pause="200"
                        selected-object="selectedGoods"
                        remote-url="/cms/goods/getsearchList?perPage=50&page=1&type=0"
                        remote-url-request-formatter="remoteUrlRequestFn"
                        remote-url-data-field="result.pageData"
                        title-field="name"
                        minlength="3"
                        input-class="form-control form-control-small"/>
                    </div>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded" style="height: 34px;"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    
    <!-- product list area -->
    <div class="wrapper-md" >
        <div class="panel panel-default">
            <div class="panel-heading">search product list</div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:590px"></div>
            </div>
        </div>
    </div>

    <!-- delete product modal -->
    <div class="modal fade deletegoods" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">delete</h4>
                </div>
                <div class="modal-body"> 
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <h4>confirm delete————{{goodsSearch.show.delete.name}}</h4>
                        </div>                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="deletegoodsOk()">confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- toggle product modal -->
    <div class="modal fade showgoods" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{goodsSearch.show.toggleshow.available == 0? "pull off": "put on"}}</h4>
                </div>
                <div class="modal-body"> 
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <h4>{{goodsSearch.show.toggleshow.available == 0? "confirm pull off": "confirm put on"}}————{{goodsSearch.show.toggleshow.name}}</h4>
                        </div>                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="showgoodsOk()">confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- recommend modal -->
    <div class="modal fade hotgoods" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{goodsSearch.show.toggleshow.hot != 0? "recommend": "cancel recommend"}}</h4>
                </div>
                <div class="modal-body"> 
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <h4>{{goodsSearch.show.toggleshow.hot != 0? "confirm recommend": "confirm cancel recommend"}}————{{goodsSearch.show.toggleshow.name}}</h4>
                        </div>                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="hotgoodsOk()">confirm</button>
                </div>
            </div>
        </div>
    </div>

</div>