<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
    ng-init="
    app.settings.asideFixed = true;
    app.settings.asideDock = false;
    app.settings.container = false;
    app.hideAside = false;
    app.hideFooter = true"
    ng-controller="goodsEditCtrl">
    
    <div class="panel b-a">
        <div class="panel-heading b-b b-light h4">edit product</div>
        <div class="panel-body clearfix">
            <button type="button" class="btn btn-primary" style="float: left;margin-left: 5px;" ng-click="goBack()">back to list</button>
            <button type="button" class="btn btn-danger" style="float: right;margin-left: 5px;" data-toggle="modal" data-target=".editGoods">finish</button>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="modal-body">
            <div class="form-group pull-in clearfix">
                <div class="col-sm-4">
                    <label>name</label>
                    <input type="text" placeholder="name" class="form-control" ng-model="goodsEdit.edit.name">
                </div>
                <div class="col-sm-4">
                    <label>price</label>
                    <input type="text" placeholder="price" class="form-control" ng-model="goodsEdit.edit.price">
                </div>
                <div class="col-sm-4">
                    <label>category</label>
                    <select class="form-control" required ng-model="goodsEdit.edit.category_id" ng-change="chooseCate(goodsEdit.edit.category_id)">
                        <option value="null">--choose category--</option>
                        <option ng-repeat="cate in goodsEdit.show.cates" value="{{cate.category_id}}">{{cate.category_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group pull-in clearfix">
                <div class="col-sm-4">
                    <label>link</label>
                    <input type="text" placeholder="link" class="form-control" ng-model="goodsEdit.edit.url">
                </div>
                <div class="col-sm-4">
                    <label>id</label>
                    <input type="text" placeholder="id" class="form-control" ng-model="goodsEdit.edit.real_id">
                </div>
                <div class="col-sm-4">
                    <label>cost</label>
                    <input type="text" placeholder="cost" class="form-control" ng-model="goodsEdit.edit.cost">
                </div>
                <div class="col-sm-2" style="height:59px;line-height: 85px;">
                    <span style="display: inline-block;width: 60px;">available</span>
                    <label class="i-switch m-r" style="position: relative;top: 5px;">
                        <input id="showparentbtn" type="checkbox" checked ng-checked="goodsEdit.edit.available == 1" ng-click="goodsShow(goodsEdit.edit.available)">
                        <i></i>
                    </label>  
                </div>
                <div class="col-sm-2" style="height:59px;line-height: 85px;">
                    <span style="display: inline-block;width: 60px;">recommend：</span>
                    <label class="i-switch m-r" style="position: relative;top: 5px;">
                        <input id="showparentbtn" type="checkbox" checked ng-checked="goodsEdit.edit.is_hot == 1" ng-click="goodsHot(goodsEdit.edit.is_hot)">
                        <i></i>
                    </label>  
                </div>
            </div>
            <div class="wrapper-md ng-scope" ng-show="goodsEdit.edit.pic_url">
                <div class="row" id="editpostimg">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-body"><img class="img-full" src="{{goodsEdit.edit.pic_url}}" alt=""></div>
                            <p class="text-center">
                                <label class="label bg-danger m-l-xs" ng-click="editaddimg()">delete</label>
                            </p> 
                        </div>
                    </div>
                </div> 
            </div>
            <div class="form-group pull-in clearfix">
                <div class="col-sm-8">
                    <div id="goods_pic_fileupload">
                        <noscript>
                            <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
                        </noscript>
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <span class="btn btn-default fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>choose picture</span>
                                    <input type="file" name="files[]" multiple>
                                </span>
                            </div>
                        </div>
                        <table role="presentation" class="table table-striped">
                            <tbody class="files"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4>add description</h4>
            <div class="form-group pull-in clearfix">
                <div class="col-sm-12">
                    <textarea class="form-control ng-pristine ng-valid" placeholder="description" rows="2" ng-model="goodsEdit.edit.description" name="" style="margin: 0px -64px 0px 0px; width: 100%; height: 90px;"></textarea>
                </div>                       
            </div> 
        </div>
    </div>
    
    <!-- edit modal -->
    <div class="modal fade editGoods" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">edit</h4>
                </div>
                <div class="modal-body">
                    <h4>confirm————{{goodsEdit.show.data.name}}？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="editGoodsOk()">finish</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- picture upload template -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade" style="height:150px">
        <td>
            <div>
                <ul style="list-style:none;height:100px;width:auto" class="col-sm-6">
                    <li><span class="preview"></span></li>
                    <li><div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div></div></li>
                </ul>
                <ul style="list-style:none" class="col-sm-6">
                    <li >
                        {% if (!i && !o.options.autoUpload) { %}
                        <button class="btn btn-primary start col-sm-12" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>upload</span>
                        </button>
                        {% } %}
                        {% if (!i) { %}
                        <button class="btn btn-default cancel col-sm-12" style="margin-top:12px">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>cancel</span>
                        </button>
                        {% } %}
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade uplpadimg">
            <td>
            {%=file.upload_date%}
                <span class="preview">
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                </span>
                <input type="hidden" name="pictureId" value={%=file.id%}/>
                <input type="hidden" name="pictureId" value={%=file.url%}/>
            </td>
            <td>
                <button class="btn btn-default cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>delete</span>
                </button>
            </td>
        </tr>
        {% } %}
</script>
