<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="goodsListCtrl">
    
    <!-- category list -->
    <div class="col w-lg lt b-r">
        <div class="vbox">
            <div class="wrapper">
                <div class="h4">category</div>
            </div>
            <div class="cell scrollable hover">
                <div class="cell-inner">
                    <div class="padder">
                        <div class="list-group">
                            <a ng-repeat="cate in goodsList.show.cates " class="list-group-item b-l-{{cate.color}} b-l-3x hover-anchor" ng-class="{'hover': cate.selected }" ng-click="selectCate($index)">
                                <span data-toggle="modal" data-target=".deleteCate" ng-click='deleteCate(cate)'  class="pull-right text-muted hover-action">
                                    <i class="fa fa-times"></i>
                                </span>
                                <span  class="pull-right text-muted hover-action" data-toggle="modal" data-target=".editCate" style="margin-right: 10px;">
                                    <i class="fa fa-pencil" ng-click="editCate(cate)"></i>
                                </span>
                                <span class="block text-ellipsis">{{ cate.category_name? cate.category_name : 'Empty note' }}</span>
                            </a>
                        </div>
                    </div>
                    <div style="text-align: center;margin:20px auto;">
                        <a href class="btn btn-sm btn-info m-t-n-xs" style="display:block;margin:10px auto;" data-toggle="modal" data-target=".addCate" ng-click="addCate()">新增类别</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <div class="panel b-a">
        <div class="panel-body">
            <button type="button" class="btn btn-danger" style="float: left;margin-left: 5px;" ng-click="getNoShowGoodsBtn()">query unavailable product</button>
            <button type="button" class="btn btn-info" style="float: left;margin-left: 5px;" ng-click="getHotGoodsBtn()">query recommend product </button>
            <div class="form-group" style="float: right;margin-left: 5px;width:200px;margin-top: 13px;">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid" placeholder="input name and description" ng-model="goodsList.show.key">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded" ng-click="gosearch(goodsList.show.key)"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- product list area -->
    <div class="wrapper-md" >
        <div class="panel panel-default">
            <div class="panel-heading">{{goodsList.show.category_name}}</div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:590px"></div>
            </div>
        </div>
    </div>

    <!-- add category modal -->
    <div class="modal fade addCate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">add product category</h4>
                </div>
                <div class="modal-body"> 
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <input class="form-control ng-pristine ng-valid" placeholder="category" rows="2" ng-model="goodsList.add.cate.name" name="" style="margin: 0px -64px 0px 0px; width: 100%; ">
                        </div>                       
                    </div>
                    <div class="wrapper-md ng-scope" ng-show="goodsList.add.cate.pic_url">
                        <div class="row" id="editpostimg">
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-body"><img class="img-full" src="{{goodsList.add.cate.pic_url}}" alt=""></div>
                                    <p class="text-center">
                                        <label class="label bg-danger m-l-xs" ng-click="deleteaddimg()">delete</label>
                                    </p> 
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-8">
                            <div id="add_cat_fileupload">
                                <noscript>
                                    <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
                                </noscript>
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <span class="btn btn-default fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>choose picture file</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                    </div>
                                </div>
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="addCateOk()">confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- edit category modal -->
    <div class="modal fade editCate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">edit product category</h4>
                </div>
                <div class="modal-body"> 
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <input class="form-control ng-pristine ng-valid" placeholder="category" rows="2" ng-model="goodsList.edit.cate.name" name="" style="margin: 0px -64px 0px 0px; width: 100%; ">
                        </div>                       
                    </div>
                    <div class="wrapper-md ng-scope" ng-show="goodsList.edit.cate.pic_url">
                        <div class="row" id="editpostimg">
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-body"><img class="img-full" src="{{goodsList.edit.cate.pic_url}}" alt=""></div>
                                    <p class="text-center">
                                        <label class="label bg-danger m-l-xs" ng-click="deleteeditimg()">delete</label>
                                    </p> 
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-8">
                            <div id="edit_cat_fileupload">
                                <noscript>
                                    <input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/">
                                </noscript>
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <span class="btn btn-default fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>choose picture file</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                    </div>
                                </div>
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="editCateOk()">confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- delete category modal -->
    <div class="modal fade deleteCate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">delete</h4>
                </div>
                <div class="modal-body"> 
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <h4>confirm delete————{{goodsList.delete.cate.category_name}}</h4>
                        </div>                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteCateOk()">confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- delete prodcut modal -->
    <div class="modal fade deletegoods" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">delete product</h4>
                </div>
                <div class="modal-body"> 
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <h4>confirm delete————{{goodsList.delete.goods.name}}</h4>
                        </div>                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="deletegoodsOk()">confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- toggle product modal -->
    <div class="modal fade showgoods" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{goodsList.edit.goods.available != 1? "put on product": "pull off product"}}</h4>
                </div>
                <div class="modal-body"> 
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <h4>{{goodsList.edit.goods.available != 1? "confirm pull off": "confirm put on"}}————{{goodsList.edit.goods.name}}</h4>
                        </div>                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="showgoodsOk()">confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- recommend product modal -->
    <div class="modal fade hotgoods" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{goodsList.edit.goods.is_hot != 0? "recommend product": "cancel recommend product"}}</h4>
                </div>
                <div class="modal-body"> 
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-12">
                            <h4>{{goodsList.edit.goods.is_hot != 0? "confirm recommend": "confirm cancel recommend"}}————{{goodsList.edit.goods.name}}</h4>
                        </div>                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="hotgoodsOk()">confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- upload picture template -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade" style="height:150px">
        <td>
            <div>
                <ul style="list-style:none;height:100px;width:auto" class="col-sm-6">
                    <li><span class="preview"></span></li>
                    <li><div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div></div></li>
                </ul>
                <ul style="list-style:none" class="col-sm-6">
                    <li >
                        {% if (!i && !o.options.autoUpload) { %}
                        <button class="btn btn-primary start col-sm-12" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>upload</span>
                        </button>
                        {% } %}
                        {% if (!i) { %}
                        <button class="btn btn-default cancel col-sm-12" style="margin-top:12px">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>cancel upload</span>
                        </button>
                        {% } %}
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade uplpadimg">
            <td>
            {%=file.upload_date%}
                <span class="preview">
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                </span>
                <input type="hidden" name="pictureId" value={%=file.id%}/>
                <input type="hidden" name="pictureId" value={%=file.url%}/>
            </td>
            <td>
                <button class="btn btn-default cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>delete</span>
                </button>
            </td>
        </tr>
        {% } %}
</script>



