<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <title>美甲大咖</title>
    <link rel="stylesheet" type="text/css" href="http://static.yilos.com/site/css/base.css">
    <link rel="stylesheet" type="text/css" href="http://static.yilos.com/site/css/index.css?v=6">
    <script type="text/javascript" src="http://static.yilos.com/site/js/zepto.min.js"></script>
    <script type="text/javascript" src="http://static.yilos.com/site/js/swipeSlide.min.js"></script>
    <script type="text/javascript" src="http://static.yilos.com/site/js/index.js?v=13"></script>
</head>
<body>
<div class="carousel" id="carousel">
    <ul class="carouselList">
        <% for(var i=0; i<posters.length; i++){ %>
            <% if(posters[i].type == "video"){ %>
                <li><a href="http://static.yilos.com/site/video_detail.html?v=2&topicId=<%= posters[i].topicId %>"><img src="<%= posters[i].picUrl %>"></a></li>
            <% }else{ %>
                <li><a href="<%= posters[i].activityUrl %>"><img src="<%= posters[i].picUrl %>"></a></li>
            <% } %>
        <% } %>
    </ul>
    <div class="dot db bo-h bp-c">
        <% for(var i=0; i<posters.length; i++){ %>
        <span></span>
        <% } %>
    </div>
</div>
<section class="push">
    <div class="pushTitle">
        <div class="pushTitleNew selectedTitle">最新视频</div>
        <div class="pushTitleHot">最热视频</div>
    </div>
    <div class="pushTip db bo-h ba-c bp-j">
        <div class="selectedTip"></div>
    </div>
    <div class="pushCon db bo-h ba-c bp-j">
        <div class="pushNew db bo-h ba-c bp-j">
            <% for(var i=0; i<lastestTopics.length; i++){ %>
                <a class="pushBox" href="video_detail.html?topicId=<%= lastestTopics[i].topicId %>">
                    <div class="pushBoxHead" style="background-image: url(<%= lastestTopics[i].picUrl %>)"></div>
                    <div class="db bo-h ba-c bp-j">
                        <div class="pushBoxAuI">
                            <% if(lastestTopics[i].authorPhoto==null){ %>
                                <img src="./images/man.jpg" alt="">
                            <% }else{ %>
                                <img src="<%= lastestTopics[i].authorPhoto %>" alt="">
                            <% } %>
                        </div>
                        <div class="pushBoxTime"><%= lastestTopics[i].time %></div>
                    </div>
                </a>
            <% } %>
        </div>
        <div class="pushHot db bo-h ba-c bp-j">
            <% for(var i=0; i<hotestTopics.length; i++){ %>
                <a class="pushBox" href="video_detail.html?topicId=<%= hotestTopics[i].topicId %>">
                    <div class="pushBoxHead" style="background-image: url(<%= hotestTopics[i].picUrl %>)"></div>
                    <div class="db bo-h ba-c bp-j">
                        <div class="pushBoxAuI">
                            <% if(hotestTopics[i].authorPhoto==null){ %>
                                <img src="./images/man.jpg" alt="">
                            <% }else{ %>
                                <img src="<%= hotestTopics[i].authorPhoto %>" alt="">
                            <% } %>
                        </div>
                        <div class="pushBoxTime"><%= hotestTopics[i].time %></div>
                    </div>
                </a>
            <% } %>
        </div>
    </div>
    <a class="pushMore db bo-h ba-c bp-c" href="more.html?type=latest">
        <div >查看更多</div>
        <div class="pushMoreR"><img src="./images/backRight.png"></div>
    </a>
</section>
<section class="category">
    <div class="categoryCon">
        <% for(var i=0; i<categories.length; i++){ %>
            <a class="categoryBox" href="more.html?category=<%= categories[i].id %>&name=<%= categories[i].name %>" style="background-image: url(<%= categories[i].pic_url %>)"><p># <%= categories[i].name %></p></a>
       <% } %>
    </div>
</section>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?4824b1cb39ce55c2255fd519213b7a2e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
