<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="jcDetail">

    <div class="panel b-a">
        <div class="panel-heading b-b b-light">
            <span class="label label-default">第{{activityId}}期</span>
            <span class="label label-info">{{activityStage.stageName}}</span>
            <button type="button" id="myButton" class="btn btn-primary" autocomplete="off" ng-click="goBackJiaoCheng()">
                返回上级
            </button>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-candidate" ng-click="openAddCandidate()">添加一个</button>
        </div>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                投票情况
            </div>
            <div class="table-responsive">
                <div ng-grid="gridOptions" style="min-height:510px"></div>
            </div>
        </div>
    </div>


    <div class="modal fade delete-candidate" arid-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">确认删除</h4>
                </div>
                <div class="modal-body center-block">
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-4">
                            <h4 style="float:left">图 片：</h4>
                            <div class="input-group date form_datetime col-md-5">
                                <img src="{{candidate.picUrl}}" style="height:100px;" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-4">
                            <h4 style="float:left">用 户：</h4>
                            <div class="input-group date form_datetime col-md-5">
                                <div><h4>{{candidate.username}}</h4></div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-4">
                            <h4 style="float:left">昵 称：</h4>
                            <div class="input-group date form_datetime col-md-5">
                                <div><h4>{{candidate.nickname}}</h4></div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-4">
                            <h4 style="float:left">投票数：</h4>
                            <div class="input-group date form_datetime col-md-5">
                                <div><h4>{{candidate.voteNum}}</h4></div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-4">
                            <h4 style="float:left">状态：</h4>
                            <div class="input-group date form_datetime col-md-5">
                                <div><h4>{{candidate.statusName}}</h4></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteCandidate()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade edit-candidate" arid-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑</h4>
                </div>
                <div class="modal-body center-block">
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-4">
                            <h4 style="float:left">图 片：</h4>
                            <div class="input-group date form_datetime col-md-5">
                                <img src="{{candidate.picUrl}}" style="height:100px;" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-4">
                            <h4 style="float:left">用 户：</h4>
                            <div class="input-group date form_datetime col-md-5">
                                <div><h4>{{candidate.username}}</h4></div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-4">
                            <h4 style="float:left">昵 称：</h4>
                            <div class="input-group date form_datetime col-md-5">
                                <div><h4>{{candidate.nickname}}</h4></div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-4">
                            <h4 style="float:left">投票数:</h4>
                            <div class="form-group col-md-4">
                                <input type="number" min="0" class="form-control" ng-model="candidate.voteNum"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-4">
                            <h4 style="float:left">状态：</h4>
                            <div class="input-group date form_datetime col-md-5">
                                <div><h4>{{candidate.statusName}}</h4></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="editCandidate()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade add-candidate" arid-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">增加求教程</h4>
                </div>
                <div class="modal-body center-block">
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">图 片：</h4>
                            <div class="col-md-6">
                                <div class="candidate_pic_fileupload">
                                    <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                    <div class="row fileupload-buttonbar">
                                        <div class="col-lg-7">
                                            <span class="btn btn-default fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>选择图片</span>
                                                <input type="file" name="files[]" multiple>
                                            </span>
                                        </div>
                                    </div>
                                    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">用 户：</h4>
                            <div class="col-md-6">
                                <select class="form-control" ng-model="formData.account" ng-options="item.username + '-' +item.nickname for item in accounts" required>
                                    <option value="">选择用户</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-3">
                            <h4 style="float:left">投票数:</h4>
                            <div class="form-group col-md-6">
                                <input type="number" min="0" class="form-control" ng-model="formData.voteNum"/>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="addCandidate()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<script id="template-upload" type="text/x-tmpl">
                {% for (var i=0, file; file=o.files[i]; i++) { %}
                <tr class="template-upload fade" style="height:150px">
                    <td>
                        <div>
                            <ul style="list-style:none" class="col-md-12">
                                <li><span class="preview"></span></li>
                                <li><div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div></div></li>
                            </ul>
                            <ul style="list-style:none" class="col-md-6">
                                <li >
                                    {% if (!i && !o.options.autoUpload) { %}
                                    <button class="btn btn-primary start col-sm-12" disabled>
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>上传</span>
                                    </button>
                                    {% } %}
                                    {% if (!i) { %}
                                    <button class="btn btn-default cancel col-sm-12" style="margin-top:12px">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>取消上传</span>
                                    </button>
                                    {% } %}
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% } %}
            </script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
                {% for (var i=0, file; file=o.files[i]; i++) { %}
                <tr class="template-download fade">
                    <td>
                    {%=file.upload_date%}
                        <span class="preview">
                            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                        </span>
                        <input type="hidden" name="pictureId" value={%=file.id%}/>
                        <input type="hidden" name="pictureId" value={%=file.url%}/>
                    </td>

                    <td>
                        <button class="btn btn-default cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>删除</span>
                        </button>
                    </td>
                </tr>
                {% } %}
            </script>

