<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="JiaoChengCtrl">

    <div class="panel b-a">

        <div class="panel-heading b-b b-light">活动管理</div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-jiaocheng">添加一期</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>

                    <th>期数</th>
                    <th>活动开始时间</th>
                    <th>投票结束时间</th>
                    <th>视频制作结束时间</th>
                    <th >操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="activity in activities">
                    <td>第{{ activity.id }}期</td>
                    <td>{{ activity.begin_time | date: 'yyyy年MM月dd日 HH:mm:ss' }}</td>
                    <td>{{ activity.upload_end_time | date: 'yyyy年MM月dd日 HH:mm:ss' }}</td>
                    <td>{{ activity.make_end_time | date: 'yyyy年MM月dd日 HH:mm:ss'}}</td>
                    <td>
                        <span class="label bg-danger" ng-click="openDelActivities(activity)" data-toggle="modal" data-target=".del-jiaocheng"><a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除</a></span>
                        <span class="label bg-success" ng-click="goJcDetail(activity)"><a><span class="glyphicon glyphicon-search" aria-hidden="true"></span>查看</a></span>
                        <span class="label bg-info" ng-click="editActivities(activity)" data-toggle="modal" data-target=".edit-jiaocheng"><a><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 text-left">
                    <small class="text-muted inline m-t-sm m-b-sm">共有{{count}}期</small>
                </div>
                <div class="col-sm-8 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li ng-click="prePage()"><a><i class="fa fa-chevron-left"></i></a></li>
                        <li ng-repeat="page in pages" ng-click="doPage(page)"><a href>{{page}}</a></li>
                        <li ng-click="nextPage()"><a><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <div class="modal fade add-jiaocheng" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >添加一期</h4>
                </div>
                <div class="modal-body">
                    <a href class="navbar-brand block m-t">第{{1+activities[0].id}}期</a>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-2">
                            <h4 style="float:left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;活 动 开 始 时 间：</h4>
                            <div class="input-group date form_datetime col-md-5" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" value="" readonly ng-model="begin_time">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <input type="hidden" value="" /><br/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-2">
                            <h4 style="float:left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投 票 结 束 时 间：</h4>
                            <div class="input-group date form_datetime col-md-5" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" value="" readonly ng-model="upload_end_time">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <input type="hidden" value="" /><br/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-2">
                            <h4 style="float:left">视频制作结束时间：</h4>
                            <div class="input-group date form_datetime col-md-5" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" value="" readonly ng-model="make_end_time">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <input type="hidden"  value="" /><br/>
                        </div>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="addActivities()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade del-jiaocheng" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">删除活动</h4>
                </div>
                <div class="modal-body">
                    <a href class="navbar-brand block m-t">确定删除第{{activity.id}}期？</a>
                    <fieldset>
                        <div class="form-group col-md-8 col-md-offset-2">
                            <h4 style="float:left">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投 票 结 束 时 间：{{ activity.upload_end_time | date: 'yyyy年MM月dd日 HH:mm:ss' }}</h4>

                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-8 col-md-offset-2">
                            <h4 style="float:left">  视频制作结束时间：{{ activity.make_end_time | date: 'yyyy年MM月dd日 HH:mm:ss' }}</h4>

                        </div>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteActivities()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade edit-jiaocheng" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >编辑</h4>
                </div>
                <div class="modal-body">
                    <a href class="navbar-brand block m-t">第{{editActivity.id}}期</a>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-2">
                            <h4 style="float:left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;活 动 开 始 时 间：</h4>
                            <div class="input-group date form_datetime col-md-5"  data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" readonly  ng-model="new_begin_time">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <input type="hidden"  value="" /><br/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-2">
                            <h4 style="float:left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投 票 结 束 时 间：</h4>
                            <div class="input-group date form_datetime col-md-5"  data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" readonly  ng-model="new_upload_end_time">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <input type="hidden"  value="" /><br/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-2">
                            <h4 style="float:left">视频制作结束时间：</h4>
                            <div class="input-group date form_datetime col-md-5"   data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" readonly ng-model="new_make_end_time">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <input type="hidden" value="" /><br/>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group col-md-8 col-md-offset-2">
                            <h4 style="float:left">本期活动所处阶段：{{ jieduan }}</h4>
                        </div>
                    </fieldset>
                    <fieldset ng-show="jieduan != '活动未开始' && jieduan != '投票阶段'">
                        <div class="col-md-12 col-md-offset-2">
                            <h4 style="float:left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;选 择 一 个 主 题：</h4>
                            <div class="form-group col-md-5">
                                <select class="form-control" ng-model="selectedTopic" ng-options="topic.title for topic in topics" required>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="commitEditActivities()">确定</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        format: 'yyyy年mm月dd日 hh:ii:ss',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>